kzh-<div class="row">
    <div class="col-md-12 pull-right">
        <a href="/kzh-technician" class="btn btn-default"> <i class="fa fa-user-plus fa-lg" aria-hidden="true"></i> สมัครเข้าร่วม KZH-Technician</a>
    </div>
    <div class="col-md-offset-3 col-lg-6 col-sm-6" ng-if="Page.Mode === 'view'">
        <div class="card hovercard" ngf-select ngf-change="ChangeTechnicianBackgroundImage($files)">
            <div class="card-background col-md-12">
            </div>
            <div class="useravatar col-md-12 technician-detail-profile">
                <img alt="" class="img-circle" src="http://lorempixel.com/100/100/people/9/">
                <img src="/images/not-verified.png" width="20px" height="20px" ng-if="!Technician.IsVerified">
                <img src="/images/technician-verified.png" width="20px" height="20px" ng-if="Technician.IsVerified">
            </div>
            <div class="card-info col-md-12 technician-detail-info"> 
                <span class="card-title">{{Technician.Name}}</span>
            </div>
            <div class="col-md-12 technician-detail-rating">
                <uib-rating ng-model="Technician.Rating" max="5" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['1','2','3','4','5']" aria-labelledby="default-rating" class="technician-rating"></uib-rating>
            </div>
        </div>
        <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab">
                    <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                    <div class="hidden-xs">รายละเอียด</div>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab">
                    <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>
                    <div class="hidden-xs">ที่อยู่</div>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab">
                    <i class="fa fa-wrench fa-lg" aria-hidden="true"></i>
                    <div class="hidden-xs">บริการ</div>
                </button>
            </div>
        </div>
        <div class="well">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1">
                  <h3>รายละเอียด</h3>
                  <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="Name (Full name)">ชื่อ/ร้าน/หจก./บริษัท</label>  
                            <div class="col-md-8">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                    <i class="fa fa-user"> </i>
                                    </div>
                                    <input id="Name (Full name)" name="Name (Full name)" type="text" placeholder="Name (Full name)" class="form-control input-md" ng-model="Technician.Name" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="Email">อีเมล</label>  
                            <div class="col-md-8">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                    <i class="fa fa-envelope"> </i>
                                    </div>
                                    <input id="Email" name="Email" type="text" placeholder="Email" class="form-control input-md" ng-model="Technician.Email" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="TelNo">โทรศัพท์</label>  
                            <div class="col-md-8">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                    </div>
                                    <input id="TelNo" name="TelNo" type="text" placeholder="TelNo" class="form-control input-md" ng-model="Technician.TelNo" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="MobileNo">มือถือ</label>  
                            <div class="col-md-8">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                    <i class="fa fa-mobile"></i>
                                    </div>
                                    <input id="MobileNo" name="MobileNo" type="text" placeholder="MobileNo" class="form-control input-md" ng-model="Technician.MobileNo" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="address">ที่อยู่</label>
                            <div class="col-md-8">                     
                            <textarea class="form-control" rows="10" id="address" name="address" ng-model="Technician.Address" placeholder="ที่อยู่"></textarea>
                        </div>
                        </div>
                  </form>
                </div>
                <div class="tab-pane fade in" id="tab2">
                    <h3>This is tab 2</h3>
                    <div class="form-group">
                        <label class="col-md-2">Lat: </label>
                        <div class="col-md-4"><input ng-model="Technician.Lat" type="text" ng-readonly="true"></div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-md-2">Longitude: </label>
                         <div class="col-md-4"><input ng-model="Technician.Long" type="text" ng-readonly="true"></div>
                    </div>
                     
                    <div id="technician-map-canvas" class="animated fadeIn technician-detail-map-container">
                        
                    </div>
                </div>
                <div class="tab-pane fade in" id="tab3">
                    <h3>บริการของช่าง</h3>
                     <input type="text" ng-model="SelectService" placeholder="เลือกบริการของท่าน" uib-typeahead="Service as Service.ServiceNameTh for Service in SelectServiceList | filter:{ServiceNameTh:$viewValue}" typeahead-template-url="SelectServiceTemplate.html" class="form-control" typeahead-show-hint="true" typeahead-min-length="0">
                </div>
            </div>
        </div> 
    </div>
    <div class="col-md-offset-3 col-lg-6 col-sm-6" ng-if="Page.Mode === 'new'">
        <div class="card hovercard" ngf-select ngf-change="ChangeTechnicianBackgroundImage($files)">
            <div class="card-background" id="technician-background-img"  >
                <div></div>
            </div>
            <div class="useravatar col-md-12 technician-detail-profile">
           
                <img alt="" class="img-circle" src="/images/noProfileImg.png" width="100px" height="100px" id="technician-profile-img" ngf-select ngf-change="ChangeTechnicianProfileImage($files)"  tooltip-placement="right" uib-tooltip="กดเพื่อใส่รูป">
                <img src="/images/not-verified.png" width="20px" height="20px" ng-if="!Technician.IsVerified">
                <img src="/images/technician-verified.png" width="20px" height="20px" ng-if="Technician.IsVerified">
            </div>
            <div class="card-info col-md-12 technician-detail-info"> 
                <span class="card-title">{{Technician.Name}}</span>
                   
            </div>
            <div class="col-md-12 technician-detail-rating">
                <uib-rating ng-model="Technician.Rating" max="5" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['1','2','3','4','5']" aria-labelledby="default-rating" class="technician-rating"></uib-rating>
            </div>
        </div>
        <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab">
                    <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                    <div class="hidden-xs">รายละเอียด</div>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab">
                    <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>
                    <div class="hidden-xs">ที่อยู่</div>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab">
                    <i class="fa fa-wrench fa-lg" aria-hidden="true"></i>
                    <div class="hidden-xs">บริการ</div>
                </button>
            </div>
        </div>
        <div class="well">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1">
                  <h3>รายละเอียด</h3>
                  <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="Name (Full name)">ชื่อ/ร้าน/หจก./บริษัท</label>  
                            <div class="col-md-8">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                    <i class="fa fa-user"> </i>
                                    </div>
                                    <input id="Name (Full name)" name="Name (Full name)" type="text" placeholder="Name (Full name)" class="form-control input-md" ng-model="Technician.Name" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="Email">อีเมล</label>  
                            <div class="col-md-8">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                    <i class="fa fa-envelope"> </i>
                                    </div>
                                    <input id="Email" name="Email" type="text" placeholder="Email" class="form-control input-md" ng-model="Technician.Email" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="TelNo">โทรศัพท์</label>  
                            <div class="col-md-8">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                    </div>
                                    <input id="TelNo" name="TelNo" type="text" placeholder="TelNo" class="form-control input-sm" ng-model="Technician.TelNo" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="MobileNo">มือถือ</label>  
                            <div class="col-md-8">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                    <i class="fa fa-mobile"></i>
                                    </div>
                                    <input id="MobileNo" name="MobileNo" type="text" placeholder="MobileNo" class="form-control input-sm" ng-model="Technician.MobileNo" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="MobileNo">เวลาทำการ</label>  
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                    </div>
                                    <uib-timepicker ng-model="Technician.Open" ng-change="changed()" hour-step="HourStep" minute-step="MinuteStep" show-meridian="false"></uib-timepicker>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                    </div>
                                    <uib-timepicker ng-model="Technician.Close" ng-change="changed()" hour-step="HourStep" minute-step="MinuteStep" show-meridian="false"></uib-timepicker>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="address">ที่อยู่</label>
                            <div class="col-md-8">                     
                            <textarea class="form-control" rows="5" id="address" name="address" ng-model="Technician.Address" placeholder="ที่อยู่"></textarea>
                        </div>
                        </div>
                  </form>
                </div>
                <div class="tab-pane fade in" id="tab2">
                    <h3>แผนที่</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="col-md-2">Latitude: </label>
                            <div class="col-md-4"><input ng-model="Technician.Lat" class="input-readonly" type="text" ng-readonly="true"></div>
                            <label class="col-md-2">Longitude: </label>
                            <div class="col-md-4"><input ng-model="Technician.Long" class="input-readonly" type="text" ng-readonly="true"></div>
                        </div>
                        
                        <div class="col-md-12">
                            ข้อมูล Latitude และ Longitude ไม่สามารถแก้ไขได้ นอกจากเลื่อนหมุดในแผนที่
                        </div>
                        <div class="col-md-12 text-center">
                            <a href="" class="btn btn-block btn-primary" ng-click="UseTechnicianCurrentLocation('technician-map')"><i class="fa fa-map-marker" aria-hidden="true"></i> ใช้สถานที่ปัจจุบัน</a>
                        </div>
                        
                        <div id="new-technician-map-canvas" class="col-md-12 animated fadeIn technician-detail-map-container bs-loading-container" bs-loading-overlay bs-loading-overlay-reference-id="technician-map" >
                            
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="tab3">
                    <h3>บริการของช่าง</h3>
                <!--    <input type="text" ng-model="SelectService" placeholder="เลือกบริการของท่าน" uib-typeahead="Service as Service.ServiceNameTh for Service in SelectServiceList | filter:{ServiceNameTh:$viewValue}" typeahead-template-url="SelectServiceTemplate.html" class="form-control" typeahead-show-hint="true" typeahead-min-length="0">
                -->
                    <div class="col-md-6">
                        <select id="TechnicianServiceList" class="form-control col-md-6" ng-model="SelectService" ng-options="Service.ServiceNameTh for Service in SelectServiceList track by Service._id">
                            <option value="">เลือกบริการของท่าน</option>
                        </select>
                        <a href="" class="btn btn-block btn-success" ng-click="AddTechnicianService()"><i class="fa fa-plus-circle" aria-hidden="true"></i> เพิ่ม</a>
                    </div>
                    <div class="col-md-12" ng-repeat="Service in Technician.Services">
                        {{Service.ServiceNameTh}}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="SelectServiceTemplate.html">
      <a>
          <span ng-bind-html="Service.ServiceNameTh | uibTypeaheadHighlight:query"></span>
      </a>
    </script>
    <div class="col-lg-3 col-sm-3"></div>
    <div class="col-md-12">
        <a href="" class="btn btn-primary" ng-click="Print()"></a>
    </div>
</div>