<!DOCTYPE html>
<html class="no-js" ng-app="KZHWEB" >
<head >
    <meta charset="utf-8" http-equiv="imagetoolbar" content="no">
    <title>โค้ว ซุ่น เฮง - ศูนย์รวมอะไหล่มอเตอร์ไซค์, ยาง และ น้ำมันเครื่อง</title>
    <meta name="description" content="ค้าปลีก-ส่ง น้ำมันเครื่อง,ยางนอก,ยางใน,อะไหล่มอเตอร์ไซค์,รถยนต์,รถไถ, ไฟฟ้า, การเกษตร, ประปา สินค้าราคาถูก น่าเชื่อถือ">
    <meta name="keywords" content="น้ำมันเครื่อง,ยางนอก,ยางใน,อะไหล่มอเตอร์ไซค์,รถยนต์,รถไถ, ไฟฟ้า, การเกษตร, ประปา, ฮอนด้า, ยามาฮ่า, ซูซุกิ">
    <meta name="author" content="Panya Boonyakulsrirung">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/images/favicon.ico">

    <link rel="stylesheet" href="bower_components/BrandButtons/dist/brand-buttons.min.css" />
    <link rel="stylesheet" href="bower_components/allmighty-autocomplete/style/autocomplete.css" />
    <link rel="stylesheet" href="bower_components/angular-block-ui/dist/angular-block-ui.css" />
    <link rel="stylesheet" href="bower_components/angularjs-datepicker/dist/angular-datepicker.min.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-social/bootstrap-social.css" />
    <link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.min.css" />
    <link rel="stylesheet" href="bower_components/sweetalert/dist/sweetalert.css" />
    <link rel="stylesheet" href="bower_components/animate.css/animate.min.css" />
    <link rel="stylesheet" href="bower_components/angular-aside/dist/css/angular-aside.min.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.0.2/css/hover-min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.1/textAngular.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.0.0/ng-tags-input.min.css">
    <link rel="stylesheet" href="styles/search.css">
    <link rel="stylesheet" href="styles/step.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/screen-device.css">
    <link rel="stylesheet" href="styles/kzh-navbar.css">
    <link rel="stylesheet" href="styles/kzh-side-menu.css">
    <base href="/" >
</head>

<body ng-controller="MainController" id="main"> <!--onselectstart="return false;" ondragstart="return false;" oncontextmenu="return false;"-->
    <div ng-show="i18nLoaded" class="loading-screen" ng-cloak="">
        <i class="fa fa-refresh fa-spin fa-5x fa-fw margin-bottom"></i>
        <span class="sr-only">Loading...</span>
    </div>
    <div ng-hide="i18nLoaded" ng-cloak="" >
        <div class="aside-div">
            <div class="aside-left" >
            <!-- Use any element to open the sidenav -->
                <button type="button" class="btn btn-default" onclick="openNav()">
                    <span class="glyphicon glyphicon-align-justify"></span> 
                </button>
            </div>
        <!--    <div class="aside-right">
                <button type="button" class="btn btn-default" ng-click="openAside('right', false)">
                   <span class="glyphicon glyphicon-align-justify"></span>
                </button>
            </div> -->
        </div>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="row text-center aside-header"><h3>ชนิดสินค้า</h3></div>
            <div class="col-xs-12 col-sm-12 col-md-12 " style="word-wrap: break-word;">
                <div id="ProductType" >
                    <div class="list-group panel" style="background-color: #EEEEEE">
                        <div ng-if="IsProductTypeDataReady" ng-repeat="ProductType in ProductTypes">
                            <a href="#{{ProductType.ProductTypeCode}}" class="list-group-item list-group-item-success" 
                            data-toggle="collapse" data-parent="#ProductType" ng-if="SelectedLocale=='th'" onclick="return false;">
                                {{ProductType.ProductTypeNameTh}}
                                <span class="label label-pill label-success pull-right span-side-menu">
                                {{ProductType.ProductCategories.length}}</span>
                            </a>
                            <a href="#{{ProductType.ProductTypeCode}}" class="list-group-item list-group-item-success" 
                            data-toggle="collapse" data-parent="#ProductType" ng-if="SelectedLocale=='us'" onclick="return false;">
                            {{ProductType.ProductTypeNameEn}}
                            <span class="label label-pill label-success pull-right span-side-menu">{{ProductType.ProductCategories.length}}</span>
                            </a>
                            <a href="#{{ProductType.ProductTypeCode}}" class="list-group-item list-group-item-success" 
                            data-toggle="collapse" data-parent="#ProductType" ng-if="SelectedLocale=='cn'" onclick="return false;" >
                            {{ProductType.ProductTypeNameCn}} 
                            <span class="label label-pill label-success pull-right span-side-menu">{{ProductType.ProductCategories.length}}</span>
                            </a>
                            <div class="collapse" id="{{ProductType.ProductTypeCode}}" >
                                <div ng-repeat="ProductCategory in ProductType.ProductCategories" >
                                    <div ng-init="GetProductLengthFromProductCategory(ProductCategory.ProductCategoryCode)">
                                        <a href="" class="list-group-item" ng-if="SelectedLocale=='th'" 
                                        ng-click="LoadProductByProductCategoryCode(ProductCategory.ProductCategoryCode)" >{{ProductCategory.ProductCategoryNameTh}}
                                        <span class="label label-pill label-primary pull-right span-side-menu" id="{{ProductCategory.ProductCategoryCode}}"></span>
                                        </a>
                                        <a href="" class="list-group-item" ng-if="SelectedLocale=='us'" 
                                        ng-click="LoadProductByProductCategoryCode(ProductCategory.ProductCategoryCode)" >{{ProductCategory.ProductCategoryNameEn}}
                                       <span class="label label-pill label-primary pull-right span-side-menu" id="{{ProductCategory.ProductCategoryCode}}"></span>
                                        </a>
                                        <a href="" class="list-group-item" ng-if="SelectedLocale=='cn'" 
                                        ng-click="LoadProductByProductCategoryCode(ProductCategory.ProductCategoryCode)">{{ProductCategory.ProductCategoryNameCn}}
                                        <span class="label label-pill label-primary pull-right span-side-menu" id="{{ProductCategory.ProductCategoryCode}}"></span>
                                        </a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="row" ng-if="!IsProductTypeDataReady">
                            <center>
                                <i class="fa fa-spinner fa-pulse fa-4x fa-fw margin-bottom"></i>
                                <span class="sr-only">Loading...</span>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <!--    <div class="modal fade " id="KZHPartsAdModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body">
                                <div class="container">                        
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-md-offset-0">
                                        <div class="fb-page" data-href="https://www.facebook.com/https://www.facebook.com/KZH-Parts-571156579574584/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <nav class="navbar navbar-default" role="navigation" ng-controller="HeaderController">
                  <div class="container-fluid nav-header">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/" class="text-center">
                            <img src="/images/KZHLogo.png" width="150px" height="50px">
                        </a> 
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav nav-pills pull-right">    
                            <li>
                                <a href="/articles" ng-click="SelectedHeadMenu('article')" class="head-menu">{{'HEAD.MENU.ARTICLE' | translate}}</a>
                            </li>               
                            <li>
                                <a href="/product" ng-click="SelectedHeadMenu('product')" class="head-menu">{{'HEAD.MENU.PRODUCT' | translate}}</a>
                            </li>
                            <li>
                                <a href="/payment-delivery" ng-click="SelectedHeadMenu('payment')" class="head-menu">{{'HEAD.MENU.PAYMENT_N_DELIVERY' | translate}}</a>
                            </li>
                            <li>
                                <a href="/about" ng-click="SelectedHeadMenu('about')" class="head-menu">{{'HEAD.MENU.ABOUT' | translate}}</a>
                            </li>
                            <li>
                                <a href="/contact" ng-click="SelectedHeadMenu('contact')" class="head-menu">{{'HEAD.MENU.CONTACT' | translate}}</a>
                            </li>
                            <li>
                                <div>
                                    <a href="/cart" class="btn btn-success">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> ({{ROHead.ROLineList.length}}) {{'HEAD.CART' | translate}}</a>
                           
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="/login" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-log-in"></span> {{'HEAD.SIGNIN' | translate}}</a>
                                    <button id="LogoutButton" class="btn btn-danger" ng-click="Logout()" ng-show="IsLogin" ng-hide="!IsLogin">
                                        <span class="glyphicon glyphicon-log-out"></span> {{'HEAD.SIGNOUT' | translate}}
                                    </button>
                                </div>
                            </li>

                            <li class="dropdown" class="head-menu" style="margin-top:-10px">
                                 <a href="" class="dropdown-toggle head-menu" data-toggle="dropdown"><span id="SelectedDropdownLanguage"><img src="/images/th.png">&nbsp;ไทย</span><b class="caret"></b></a>
                                  <ul id="DropdownLanguage" class="dropdown-menu">
                                    <li><a href="" ng-click="SelectedLocale('th')"><img src="/images/th.png">&nbsp; ไทย</a>
                                    </li>
                                    <li><a href="" ng-click="SelectedLocale('us')"><img src="/images/us.png">&nbsp; English</a>
                                    </li>
                                    <li><a href="" ng-click="SelectedLocale('cn')"><img src="/images/cn.png">&nbsp; 中國</a>
                                    </li>
                                  </ul>
                            </li>
                            
                            <li class="dropdown" class="head-menu" style="margin-top:5px">
                                <div id="UserProfileImage">
                                    <img src="/images/noProfileImg.png"  class="img-circle" width="40" height="40" ng-show="!IsLogin || User.ProfileImage === undefined" style="margin-top:-5px">
                                </div>
                            </li>
                            <li class="dropdown" class="head-menu" style="margin-top:5px">
                                <div ng-show="IsAdmin && !IsGuest">
                                    <!-- code to render a large video block-->
                                    <a href="#" class="dropdown-toggle head-menu" data-toggle="dropdown">{{'HEAD.WELCOME' | translate}},
                                     {{DataModelFactory.User.Username}}<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#account-section" ng-click="('account')"><span class="glyphicon glyphicon-user"></span> {{'HEAD.MENU.ACCOUNT' | translate}} </a>
                                        </li>
                                        <li><a href="#customer-order-section" ng-click="SelectedHeadMenu('customer-order')"><span class="glyphicon glyphicon-tasks"></span> {{'HEAD.MENU.CUSTOMER' | translate}} </a>
                                        </li>
                                        <li><a ui-sref="history" ng-click="SelectedHeadMenu('history')"><span class="glyphicon glyphicon-time"></span> {{'HEAD.MENU.HISTORY' | translate}}</a>
                                        </li>
                                        <li><a href="#setting-section" ng-click="SelectedHeadMenu('setting')"><span class="glyphicon glyphicon-cog"></span> {{'HEAD.MENU.GENERAL' | translate}}</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#" ng-click="Logout()"><span class="glyphicon glyphicon-off"></span> {{'HEAD.MENU.LOGOUT' | translate}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div ng-show="!IsAdmin && !IsGuest">
                                    <!-- code to render the regular video block -->
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{'HEAD.WELCOME' | translate}},
                                     {{User.Username}}<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#account-section" ng-click="SelectedHeadMenu('account')"><span class="glyphicon glyphicon-user"></span> {{'HEAD.MENU.ACCOUNT' | translate}}</a>
                                        </li>
                                        <li> <a href="#history-section" ng-click="SelectedHeadMenu('history')"><span class="glyphicon glyphicon-time"></span> {{'HEAD.MENU.HISTORY' | translate}}</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a ng-href="#" ng-click="Logout()"><span class="glyphicon glyphicon-off"></span> {{'HEAD.MENU.LOGOUT' | translate}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div ng-show="!IsAdmin && IsGuest">
                                    <!-- code to render the regular video block -->
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{'HEAD.WELCOME' | translate}},
                                     {{User.Username}}<b class="caret"></b></a>
                                </div>
                            </li>
                    </div>
                  </div>
                </nav>
           
                <hr class="header-hr">

                <div ng-view></div>

                <hr class="footer-hr">
                <div id="div-footer" class="footer" ng-controller="FooterController">
                    <div class="container" style="color:white;">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <center>
                                  <img src="/images/tyre.png" width="64" height="64"  alt="the-brains" class="img-responsive">
                                  <br>
                                  <h4 class="footertext">{{'FOOTER.TYRE.HEAD' | translate}}</h4>
                                  <p class="footertext">{{'FOOTER.TYRE.REMARK' | translate}}<br>
                                </center>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <center>
                                  <img src="/images/lubricant.png" width="64" height="64" alt="..." class="img-responsive">
                                  <br>
                                  <h4 class="footertext">{{'FOOTER.LUBRICANT.HEAD' | translate}}</h4>
                                  <p class="footertext">{{'FOOTER.LUBRICANT.REMARK' | translate}}<br>
                                </center>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <center>
                                  <img src="/images/battery.png" width="64" height="64" alt="..." class="img-responsive">
                                  <br>
                                  <h4 class="footertext">{{'FOOTER.BATTERY.HEAD' | translate}}</h4>
                                  <p class="footertext">{{'FOOTER.BATTERY.REMARK' | translate}}<br>
                                </center>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <center>
                                  <img src="/images/brake.png" width="64" height="64"  alt="the-brains" class="img-responsive">
                                  <br>
                                  <h4 class="footertext">{{'FOOTER.BRAKE.HEAD' | translate}}</h4>
                                  <p class="footertext">{{'FOOTER.BRAKE.REMARK' | translate}}<br>
                                </center>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <center>
                                  <img src="/images/shock.png" width="64" height="64" alt="..." class="img-responsive">
                                  <br>
                                  <h4 class="footertext">{{'FOOTER.SHOCK.HEAD' | translate}}</h4>
                                  <p class="footertext">{{'FOOTER.SHOCK.REMARK' | translate}}<br>
                                </center>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <center>
                                  <img src="/images/wrench.png" width="64" height="64" alt="..." class="img-responsive">
                                  <br>
                                  <h4 class="footertext">{{'FOOTER.WRENCH.HEAD' | translate}}</h4>
                                  <p class="footertext">{{'FOOTER.WRENCH.REMARK' | translate}}<br>
                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <img class="pull-right" src="https://s3-ap-southeast-1.amazonaws.com/kzhweb/kzhapp-100x100.png" width="32px" height="32px">
                            </div>
                            <div class="col-md-7">
                                <a href="/contact" ng-click="SelectedBodyMenu('thai-post')">{{'FOOTER.CONTACT_US' | translate}}</a> 
                                <p class="footertext">{{'FOOTER.COPY_RIGHT' | translate}}</p>
                            </div>
                        </div>
                    </div>
                <div>
                <a href="#" class="scrollup">Scroll</a>
               
            </div>
            <hr class="footer-hr">
            <div class="footer-container" style="color:white;">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-md-offset-0 footer-brand">
                        <div class="col-sm-4 col-md-3">
                            <center>
                              <img src="https://s3-ap-southeast-1.amazonaws.com/kzhweb/brand/parts/honda.png" max-width="90" max-height="90" alt="honda" class="img-responsive">
                            </center>
                        </div>
                        <div class="col-sm-4 col-md-3">
                            <center>
                              <img src="https://s3-ap-southeast-1.amazonaws.com/kzhweb/brand/parts/yamaha.png"  max-width="90" max-height="90"  alt="yamaha" class="img-responsive">
                            </center>
                        </div>
                        <div class="col-sm-4 col-md-3">
                            <center>
                              <img src="https://s3-ap-southeast-1.amazonaws.com/kzhweb/brand/parts/suzuki.png" max-width="90" max-height="90"  alt="suzuki" class="img-responsive">
                            </center>
                        </div>
                        <div class="col-sm-4 col-md-3">
                            <center>
                              <img src="https://s3-ap-southeast-1.amazonaws.com/kzhweb/brand/parts/kawasaki.png" max-width="90" max-height="90"  alt="kawasaki" class="img-responsive">
                            </center>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-md-offset-0 footer-brand">
                          <div class="col-sm-6 col-md-4">
                            <center>
                              <img src="https://s3-ap-southeast-1.amazonaws.com/kzhweb/brand/parts/jomthai.png" max-width="90" max-height="90"  alt="kawasaki" class="img-responsive">
                          
                            </center>
                          </div>
                          <div class="col-sm-6 col-md-4">
                            <center>
                              <img src="https://s3-ap-southeast-1.amazonaws.com/kzhweb/brand/parts/yaguso.png" max-width="90" max-height="90"  alt="kawasaki" class="img-responsive">
                      
                            </center>
                          </div>
                          <div class="col-sm-6 col-md-4">
                            <center>
                              <img src="https://s3-ap-southeast-1.amazonaws.com/kzhweb/brand/parts/ngk.png" max-width="90" max-height="90"  alt="kawasaki" class="img-responsive">
                      
                            </center>
                          </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-md-offset-0 footer-brand">
                            <div class="col-sm-4 col-md-2">
                            <center>
                              <img src="https://s3-ap-southeast-1.amazonaws.com/kzhweb/brand/lubricants/ptt.png" max-width="90" max-height="90" alt="honda" class="img-responsive">
                              
                            </center>
                          </div>
                          <div class="col-sm-4 col-md-2">
                            <center>
                              <img src="https://s3-ap-southeast-1.amazonaws.com/kzhweb/brand/lubricants/shell.png"  max-width="90" max-height="90"  alt="yamaha" class="img-responsive">
                            </center>
                          </div>
                          <div class="col-sm-4 col-md-2">
                            <center>
                              <img src="https://s3-ap-southeast-1.amazonaws.com/kzhweb/brand/lubricants/castrol.png" max-width="90" max-height="90"  alt="suzuki" class="img-responsive">
                            </center>
                          </div>
                          
                          <div class="col-sm-4 col-md-2">
                            <center>
                              <img src="https://s3-ap-southeast-1.amazonaws.com/kzhweb/brand/lubricants/caltex.png" max-width="90" max-height="90"  alt="kawasaki" class="img-responsive">
                             
                            </center>
                          </div>
                          <div class="col-sm-4 col-md-2">
                            <center>
                               <img src="https://s3-ap-southeast-1.amazonaws.com/kzhweb/brand/lubricants/daikyo.png" max-width="90" max-height="90"  alt="daikyo" class="img-responsive">
                          
                            </center>
                          </div>
                          <div class="col-sm-4 col-md-2">
                            <center>
                              <img src="https://s3-ap-southeast-1.amazonaws.com/kzhweb/brand/lubricants/trane.png" max-width="90" max-height="90"  alt="trane" class="img-responsive">
                            </center>
                          </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-md-offset-0 footer-brand">
                            <div class="col-sm-4 col-md-2">
                            <center>
                              <img src="https://s3-ap-southeast-1.amazonaws.com/kzhweb/brand/tyre/michelin.png" max-width="90" max-height="90" alt="honda" class="img-responsive">
                              
                            </center>
                          </div>
                          <div class="col-sm-4 col-md-2">
                            <center>
                              <img src="https://s3-ap-southeast-1.amazonaws.com/kzhweb/brand/tyre/irc.png"  max-width="90" max-height="90"  alt="yamaha" class="img-responsive">
                            </center>
                          </div>
                          <div class="col-sm-4 col-md-2">
                            <center>
                              <img src="https://s3-ap-southeast-1.amazonaws.com/kzhweb/brand/tyre/dunlop.png" max-width="90" max-height="90"  alt="suzuki" class="img-responsive">
                            </center>
                          </div>
                          
                          <div class="col-sm-4 col-md-2">
                            <center>
                              <img src="https://s3-ap-southeast-1.amazonaws.com/kzhweb/brand/tyre/veerubber.png" max-width="90" max-height="90"  alt="kawasaki" class="img-responsive">
                             
                            </center>
                          </div>
                          <div class="col-sm-4 col-md-2">
                            <center>
                              <img src="https://s3-ap-southeast-1.amazonaws.com/kzhweb/brand/tyre/camel.png" max-width="90" max-height="90"  alt="kawasaki" class="img-responsive">
                            </center>
                          </div>
                          <div class="col-sm-4 col-md-2">
                            <center valign="center">
                              <img src="https://s3-ap-southeast-1.amazonaws.com/kzhweb/brand/tyre/nd.png" max-width="90" max-height="90"  alt="kawasaki" class="img-responsive">
                             
                            </center>
                          </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-md-offset-0 footer-brand">
                            <div class="col-sm-4 col-md-3">
                            <center>
                              <img src="https://s3-ap-southeast-1.amazonaws.com/kzhweb/brand/battery/gs.png" max-width="90" max-height="90" alt="honda" class="img-responsive">
                              
                            </center>
                          </div>
                          <div class="col-sm-4 col-md-3">
                            <center>
                              <img src="https://s3-ap-southeast-1.amazonaws.com/kzhweb/brand/battery/3k.png"  max-width="90" max-height="90"  alt="yamaha" class="img-responsive">
                            </center>
                          </div>
                          <div class="col-sm-4 col-md-3">
                            <center>
                              <img src="https://s3-ap-southeast-1.amazonaws.com/kzhweb/brand/battery/fb.png" max-width="90" max-height="90"  alt="suzuki" class="img-responsive">
                            </center>
                          </div>
                          
                          <div class="col-sm-4 col-md-3">
                            <center>
                              <img src="https://s3-ap-southeast-1.amazonaws.com/kzhweb/brand/battery/yuasa.png" max-width="90" max-height="90"  alt="kawasaki" class="img-responsive">
                             
                            </center>
                          </div>
                    </div>
                </div>
            </div>

            <hr class="footer-hr">
            <div id="div-sub-footer" class="sub-footer">
                <div class="container" style="color:white;">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 text-center">
                            <div id="fb-root"></div>
                            <script>(function(d, s, id) {
                              var js, fjs = d.getElementsByTagName(s)[0];
                              if (d.getElementById(id)) return;
                              js = d.createElement(s); js.id = id;
                              js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=174419525934936";
                              fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));</script>

                            <div class="fb-page" data-href="https://www.facebook.com/https://www.facebook.com/KZH-Parts-571156579574584/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <center>
                              <blockquote>
                                {{'FOOTER.AVAILABLE_ON_APPSTORE_PLAYSTORE' | translate}}...
                                <br>
                                <footer style="color:white;">KZH Parts</footer>
                            </blockquote>
                            </center>
                            <br>
                            <div class="row">
                                <a href="https://goo.gl/SHaPTS" target="_blank">
                                    <div class="col-md-3 facebook"></div>
                                </a>
                                <a href="https://goo.gl/GYHJ6E" target="_blank">
                                    <div class="col-md-3 google"></div>
                                </a>
                                <a href="https://goo.gl/tlFCBT" target="_blank">
                                    <div class="col-md-3 twitter"></div>
                                </a>
                                <a href="https://goo.gl/orQMJe" target="_blank">
                                    <div class="col-md-3 instagram"></div>
                                </a>
                            </div>
                            <div class="row text-center google-thaipost">
                                <div class="col-md-offset-1 col-xs-12 col-sm-12 col-md-5">
                                    <a href="https://www.google.com/maps/place/โค้วซุ่นเฮง+-+ค้าปลีก-+ส่ง+อะไหล่+น้ำมันเครื่อง+ยาง/@14.942145,103.7846685,16z/data=!4m2!3m1!1s0x0:0xe7284053efc84cd6?hl=en-US" target="_blank">
                                         <img src="/images/google-map.png" width="100px " height="65px" class="img-responsive">
                                        </a>
                                </div>
                                <div class="col-md-offset-1 col-xs-12 col-sm-12 col-md-5">
                                    <a href="http://track.thailandpost.co.th/tracking/default.aspx" target="_blank" ng-click="SelectedBodyMenu('thai-post')"><img src="/images/thaipost.png" width="100px" height="65px" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                            <div class="row text-center">
                                <img src="/images/comodo_secure_seal_113x59_transp.png" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <center>
                              <blockquote>
                                    {{'FOOTER.COMING_SOON' | translate}}...
                                </blockquote>
                            </center>
                            <br>
                            <center>
                                <img src="/images/dbappstore.png" width="180" height="75"  alt="KZHParts on AppStore" class="img-responsive">
                            </center>
                            <br>
                            <center>
                                <img src="/images/dbplaystore.png" width="180" height="75"  alt="KZHParts on PlayStore" class="img-responsive">
                            </center>
                            <br>
                            <!-- PayPal Logo --><table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppmcvdam.png" alt="Buy now with PayPal" /></td></tr></table><!-- PayPal Logo -->
                        </div>
                        <div class="col-sm-8" style="margin-top: 1.8em">
                            <div class="row well">
                                <div class="col-md-2 text-center" style="color: #333;margin-top: 0.7em;font-size: 16px;"><label>Subscriber :</label></div>
                                <div class="col-md-8">
                                     <form >
                                      <div class="row text-center">
                                            <div class="col-md-10">
                                            <input class="btn btn-lg btn-block" ng-model="EmailSubscriber" name="email" id="email" type="email" placeholder="Your Email" required style="color:#333;">
                                            </div>
                                            <div class="col-md-2">
                                                <button ng-click="Subscribe()" class="btn btn-info btn-lg" type="submit">Submit</button>
                                            </div>
                                      </div>
                                     </form>
                                 </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="//v2.zopim.com/?3zNAygD3G4WcgPYEzNeAHJdXW7nVkkOi";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zopim Live Chat Script-->
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-72000276-1', 'auto');
        ga('send', 'pageview');
    </script>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angucomplete/angucomplete.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-block-ui/dist/angular-block-ui.js"></script>
    <script src="bower_components/angular-facebook/lib/angular-facebook.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    <script src="bower_components/angular-google-plus/dist/angular-google-plus.js"></script>
    <script src="bower_components/angular-mass-autocomplete/massautocomplete.min.js"></script>
    <script src="bower_components/angular-recaptcha/release/angular-recaptcha.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angularjs-datepicker/dist/angular-datepicker.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/bootstrap3-typeahead/bootstrap3-typeahead.js"></script>
    <script src="bower_components/chartjs/Chart.js"></script>
    <script src="bower_components/less/dist/less.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
    <script src="bower_components/ng-password-strength/dist/scripts/ng-password-strength.js"></script>
    <script src="bower_components/ng-table/dist/ng-table.min.js"></script>
    <script src="bower_components/ngAutocomplete/src/ngAutocomplete.js"></script>
    <script src="bower_components/platform/platform.js"></script>
    <script src="bower_components/oauth-js/dist/oauth.min.js"></script>
    <script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/aws-sdk/dist/aws-sdk.js"></script>
    <script src="bower_components/card/lib/js/card.js"></script>
    <script src="bower_components/angular-spinners/dist/angular-spinners.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-card/src/card.js"></script>
    <script src="bower_components/angular-aside/dist/js/angular-aside.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.1/textAngular-rangy.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.1/textAngular-sanitize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.1/textAngular.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.3/angular-moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.0.0/ng-tags-input.min.js"></script>
    <script src="/controllers/app.js"></script>
    <script src="/controllers/main-controller.js"></script>
    <script src="/controllers/header-controller.js"></script>
    <script src="/controllers/body-controller.js"></script>
    <script src="/controllers/footer-controller.js"></script>
    <script src="/controllers/article-controller.js"></script>
    <script src="/controllers/history-controller.js"></script>
    <script src="/controllers/contact-controller.js"></script>
    <script src="/controllers/cart-controller.js"></script>
    <script src="/controllers/login-controller.js"></script>
    <script src="/controllers/shipment-controller.js"></script>
    <script src="/controllers/payment-controller.js"></script>
    <script src="/controllers/supplier-controller.js"></script>
    <script src="/configs/app-translate.js"></script>
    <script src="/configs/app-route.js"></script>
    <script src="/constants/constants.js"></script>
    <script src="/directives/enter-directive.js"></script>
    <script src="/directives/menu-directive.js"></script>
    <script src="/directives/menu-item-directive.js"></script>
    <script src="/directives/focus-directive.js"></script>
    <script src="/directives/scroll-on-click-directive.js"></script>
    <script src="/directives/product-type-directive.js"></script>
    <script src="/directives/product-directive.js"></script>
    <script src="/directives/article-directive.js"></script>
    <script src="/services/menu-service.js"></script>
    <script src="/services/locale-service.js"></script>
    <script src="/services/receipt-order-service.js"></script>
    <script src="/services/user-service.js"></script>
    <script src="/services/currency-service.js"></script>
    <script src="/services/company-service.js"></script>
    <script src="/services/product-service.js"></script>
    <script src="/services/credential-service.js"></script>
    <script src="/services/social-service.js"></script>
    <script src="/services/email-service.js"></script>
    <script src="/services/crypto-service.js"></script>
    <script src="/services/product-type-service.js"></script>
    <script src="/services/product-category-service.js"></script>
    <script src="/services/uom-service.js"></script>
    <script src="/services/province-service.js"></script>
    <script src="/services/district-service.js"></script>
    <script src="/services/weight-rate-service.js"></script>
    <script src="/services/sub-district-service.js"></script>
    <script src="/services/app-config-service.js"></script>
    <script src="/services/aws-service.js"></script>
    <script src="/services/paypal-service.js"></script>
    <script src="/services/feedback-service.js"></script>
    <script src="/services/article-service.js"></script>
    <script src="/services/utility-service.js"></script>
    <script src="/services/subscribe-service.js"></script>
    <script src="/services/technician-service.js"></script>
    <script src="/services/entrepreneur-service.js"></script>
    <script src="/filters/html-filter.js"></script>
    <script src="/filters/cut-more-filter.js"></script>
    <script src="/scripts/main.js"></script>
    <script src="/scripts/step.js"></script>
</body>

</html>