<!DOCTYPE html>
<html class="no-js" ng-app="KZHWEB" >
<head >
    <meta name="fragment" content="!">
    <meta name="prerender-status-code" content="404">
    <meta charset="utf-8" http-equiv="imagetoolbar" content="no">
 <!--   <title>โค้ว ซุ่น เฮง - ศูนย์รวมอะไหล่มอเตอร์ไซค์, ยาง และ น้ำมันเครื่อง</title> -->
   <title> {{'TITLE.NAME' | translate}}</title>
    <meta name="description" content="ค้าปลีก-ส่ง น้ำมันเครื่อง,ยางนอก,ยางใน,อะไหล่มอเตอร์ไซค์,รถยนต์,รถไถ, ไฟฟ้า, การเกษตร, ประปา สินค้าราคาถูก น่าเชื่อถือ">
    <meta name="keywords" content="น้ำมันเครื่อง,ยางนอก,ยางใน,อะไหล่มอเตอร์ไซค์,รถยนต์,รถไถ, ไฟฟ้า, การเกษตร, ประปา, ฮอนด้า, ยามาฮ่า, ซูซุกิ">
 <!--   <meta property="fb:app_id" content="320977548070994" />
    <meta property="og:type" content="website" > 
    <meta property="og:url" content="https://www.kzhparts.com" />
    <meta property="og:title" content="โค้ว ซุ่น เฮง - ศูนย์รวมอะไหล่มอเตอร์ไซค์, ยาง และ น้ำมันเครื่อง" > 
    <meta property="og:image" content="https://s3-ap-southeast-1.amazonaws.com/kzhweb/kzh-mkt-02.png">
    <meta property="og:site_name" content="KZH Parts" > 
    <meta property="og:description" content="ค้าปลีก-ส่ง น้ำมันเครื่อง,ยางนอก,ยางใน,อะไหล่มอเตอร์ไซค์,รถยนต์,รถไถ, ไฟฟ้า, การเกษตร, ประปา สินค้าราคาถูก น่าเชื่อถือ" > 
    <meta property="og:locale" content="th_TH" >
    <meta name="author" content="KZHParts.com">
    <meta name="viewport" content="width=device-width">
    <meta property="fb:likes_and_comments" content="enable">
    <meta property="fb:pages" content="571156579574584" />
    -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/BrandButtons/dist/brand-buttons.min.css" />
    <link rel="stylesheet" href="bower_components/angularjs-datepicker/dist/angular-datepicker.min.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-social/bootstrap-social.css" />
    <link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.min.css" />
    <link rel="stylesheet" href="bower_components/animate.css/animate.css" />
    <link rel="stylesheet" href="bower_components/angular-aside/dist/css/angular-aside.css" />
    <link rel="stylesheet" href="bower_components/sweetalert2/dist/sweetalert2.css" />
    <link rel="stylesheet" href="bower_components/textAngular/dist/textAngular.css" />
    <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.css" />
    <link rel="stylesheet" href="bower_components/hover/css/hover.css" />
    <link rel="stylesheet" href="bower_components/angular-growl-v2/build/angular-growl.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-star-rating/css/star-rating.min.css" />
    <link rel="stylesheet" href="bower_components/select2/select2.css" />
    <link rel="stylesheet" href="bower_components/select2-bootstrap-css/select2-bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/styles.css -->
    <link rel="stylesheet" href="styles/search.css">
    <link rel="stylesheet" href="styles/step.css">
    <link rel="stylesheet" href="styles/screen-device.css">
    <link rel="stylesheet" href="styles/kzh-navbar.css">
    <link rel="stylesheet" href="styles/kzh-side-menu.css">
    <link rel="stylesheet" href="styles/kzh-technician.css">
    <link rel="stylesheet" href="styles/kzh-google-map.css">
    <link rel="stylesheet" href="styles/thbanklogos.min.css">
    <link rel="stylesheet" href="styles/shop-product-detail.css">
    <!-- endbuild -->
    <base href="/" >
    
</head>

<body ng-controller="MainController" id="main"> <!--onselectstart="return false;" ondragstart="return false;" oncontextmenu="return false;"-->
<!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div ng-show="i18nLoaded" class="loading-screen" ng-cloak="">
        <i class="fa fa-refresh fa-spin fa-5x fa-fw margin-bottom"></i>
        <span class="sr-only">Loading...</span>
    </div>
    <div ng-hide="i18nLoaded" ng-cloak="" >
        <div class="aside-div">
            <div class="aside-left" >
            <!-- Use any element to open the sidenav -->
                <button type="button" class="btn btn-default" onclick="openNav()">
                    <span class="glyphicon glyphicon-align-justify"></span> 
                </button>
            </div>
        </div>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="row text-center aside-header"><h3>ชนิดสินค้า</h3></div>
            <div class="col-xs-12 col-sm-12 col-md-12 " style="word-wrap: break-word;">
              <div id="ProductType" >
                    <div class="list-group panel" style="background-color: #EEEEEE">
                        <div ng-if="IsProductTypeDataReady" ng-repeat="ProductType in ProductTypes">
                            <a href="#{{ProductType.ProductTypeCode}}" class="list-group-item list-group-item-success" 
                            data-toggle="collapse" data-parent="#ProductType" ng-if="SelectedLocale=='th'" onclick="return false;">
                                {{ProductType.ProductTypeNameTh}}
                                <span class="label label-pill label-success pull-right span-side-menu">
                                {{ProductType.ProductCategoryCount}}</span>
                            </a>
                            <a href="#{{ProductType.ProductTypeCode}}" class="list-group-item list-group-item-success" 
                            data-toggle="collapse" data-parent="#ProductType" ng-if="SelectedLocale=='us'" onclick="return false;">
                            {{ProductType.ProductTypeNameEn}}
                            <span class="label label-pill label-success pull-right span-side-menu">{{ProductType.ProductCategoryCount}}</span>
                            </a>
                            <a href="#{{ProductType.ProductTypeCode}}" class="list-group-item list-group-item-success" 
                            data-toggle="collapse" data-parent="#ProductType" ng-if="SelectedLocale=='cn'" onclick="return false;" >
                            {{ProductType.ProductTypeNameCn}} 
                            <span class="label label-pill label-success pull-right span-side-menu">{{ProductType.ProductCategoryCount}}</span>
                            </a>
                            <div class="collapse" id="{{ProductType.ProductTypeCode}}" >
                                <div ng-repeat="ProductCategory in ProductType.ProductCategories" >
                                    <div ng-init="GetProductLengthFromProductCategory(ProductCategory.ProductCategoryCode)">
                                        <a href="" class="list-group-item" ng-if="SelectedLocale=='th'" 
                                        ng-click="LoadProductByProductCategoryCode(ProductCategory.ProductCategoryCode)" >{{ProductCategory.ProductCategoryNameTh}}
                                        <span class="label label-pill label-primary pull-right span-side-menu" id="{{ProductCategory.ProductCategoryCode}}"></span>
                                        </a>
                                        <a href="" class="list-group-item" ng-if="SelectedLocale=='us'" 
                                        ng-click="LoadProductByProductCategoryCode(ProductCategory.ProductCategoryCode)" >{{ProductCategory.ProductCategoryNameEn}}
                                       <span class="label label-pill label-primary pull-right span-side-menu" id="{{ProductCategory.ProductCategoryCode}}"></span>
                                        </a>
                                        <a href="" class="list-group-item" ng-if="SelectedLocale=='cn'" 
                                        ng-click="LoadProductByProductCategoryCode(ProductCategory.ProductCategoryCode)">{{ProductCategory.ProductCategoryNameCn}}
                                        <span class="label label-pill label-primary pull-right span-side-menu" id="{{ProductCategory.ProductCategoryCode}}"></span>
                                        </a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="row" ng-if="!IsProductTypeDataReady">
                            <center>
                                <i class="fa fa-spinner fa-pulse fa-4x fa-fw margin-bottom"></i>
                                <span class="sr-only">Loading...</span>
                            </center>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="container">
            <nav class="navbar navbar-default" role="navigation" ng-controller="HeaderController">
              <div class="container-fluid nav-header">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="text-center">
                        <img src="/images/KZHLogo.png" width="150px" height="50px">
                    </a> 
                </div>
                
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav nav-pills pull-right">    
                        <li>
                            <a href="/articles" ng-click="SelectedHeadMenu('article')" class="head-menu">{{'HEAD.MENU.ARTICLE' | translate}}</a>
                        </li>               
                        <li>
                            <a href="/product" ng-click="SelectedHeadMenu('product')" class="head-menu">{{'HEAD.MENU.PRODUCT' | translate}}</a>
                        </li>
                        <li>
                            <a href="/payment-delivery" ng-click="SelectedHeadMenu('payment')" class="head-menu">{{'HEAD.MENU.PAYMENT_N_DELIVERY' | translate}}</a>
                        </li>
                        <li>
                            <a href="/about" ng-click="SelectedHeadMenu('about')" class="head-menu">{{'HEAD.MENU.ABOUT' | translate}}</a>
                        </li>
                        <li>
                            <a href="/contact" ng-click="SelectedHeadMenu('contact')" class="head-menu">{{'HEAD.MENU.CONTACT' | translate}}</a>
                        </li>
                        <li>
                            <div>
                                <a href="/cart" class="btn btn-success">
                                <span class="glyphicon glyphicon-shopping-cart"></span> ({{ROHead.ROLineList.length}}) {{'HEAD.CART' | translate}}</a>
                       
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="/login" class="btn btn-primary" ng-if="!IsLogin || (IsLogin === undefined)">
                                    <span class="glyphicon glyphicon-log-in"></span> {{'HEAD.SIGNIN' | translate}}
                                </a>
                                <a href="" class="btn btn-danger" ng-if="IsLogin && (IsLogin !== undefined)" ng-click="Logout()"> 
                                    <span class="glyphicon glyphicon-log-out"></span> {{'HEAD.SIGNOUT' | translate}}
                                </a>
                               
                            </div>
                        </li>

                        <li class="dropdown" class="head-menu" style="margin-top:-10px">
                             <a href=""  class="dropdown-toggle head-menu" data-toggle="dropdown"><span id="SelectedDropdownLanguage"><img src="/images/th.png">&nbsp;ไทย</span><b class="caret"></b></a>
                              <ul id="DropdownLanguage" class="dropdown-menu">
                                <li><a href="" ng-click="SelectedLocale('th')"><img src="/images/th.png">&nbsp;&nbsp;&nbsp;ไทย</a>
                                </li>
                                <li><a href="" ng-click="SelectedLocale('us')"><img src="/images/us.png">&nbsp;&nbsp;&nbsp;English</a>
                                </li>
                                <li><a href="" ng-click="SelectedLocale('cn')"><img src="/images/cn.png">&nbsp;&nbsp;&nbsp;中國</a>
                                </li>
                               
                              </ul>
                        </li>
                        
                        <li class="dropdown" class="head-menu" style="margin-top:5px">
                            <div id="UserProfileImage">
                                <img src="/images/noProfileImg.png"  class="img-circle" width="40" height="40" ng-show="!IsLogin || User.ProfileImage === undefined" style="margin-top:-5px">
                            </div>
                        </li>
                        <li class="dropdown" class="head-menu" style="margin-top:5px">
                            <div ng-show="IsAdmin && !IsGuest">
                                <!-- code to render a large video block-->
                                <a href="#" class="dropdown-toggle head-menu" data-toggle="dropdown">{{'HEAD.WELCOME' | translate}},
                                 {{DataModelFactory.User.Username}}<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#account-section" ng-click="('account')"><span class="glyphicon glyphicon-user"></span> {{'HEAD.MENU.ACCOUNT' | translate}} </a>
                                    </li>
                                    <li><a href="#customer-order-section" ng-click="SelectedHeadMenu('customer-order')"><span class="glyphicon glyphicon-tasks"></span> {{'HEAD.MENU.CUSTOMER' | translate}} </a>
                                    </li>
                                    <li><a ui-sref="history" ng-click="SelectedHeadMenu('history')"><span class="glyphicon glyphicon-time"></span> {{'HEAD.MENU.HISTORY' | translate}}</a>
                                    </li>
                                    <li><a href="#setting-section" ng-click="SelectedHeadMenu('setting')"><span class="glyphicon glyphicon-cog"></span> {{'HEAD.MENU.GENERAL' | translate}}</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#" ng-click="Logout()"><span class="glyphicon glyphicon-off"></span> {{'HEAD.MENU.LOGOUT' | translate}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div ng-show="!IsAdmin && !IsGuest">
                                <!-- code to render the regular video block -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{'HEAD.WELCOME' | translate}},
                                 {{User.Username}}<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#account-section" ng-click="SelectedHeadMenu('account')"><span class="glyphicon glyphicon-user"></span> {{'HEAD.MENU.ACCOUNT' | translate}}</a>
                                    </li>
                                    <li> <a href="#history-section" ng-click="SelectedHeadMenu('history')"><span class="glyphicon glyphicon-time"></span> {{'HEAD.MENU.HISTORY' | translate}}</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a ng-href="#" ng-click="Logout()"><span class="glyphicon glyphicon-off"></span> {{'HEAD.MENU.LOGOUT' | translate}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div ng-show="!IsAdmin && IsGuest">
                                <!-- code to render the regular video block -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{'HEAD.WELCOME' | translate}},
                                 {{User.Username}}<b class="caret"></b></a>
                            </div>
                        </li>
                </div>
              </div>
            </nav>
           
        <hr class="header-hr">

        <div ng-view></div>

        <hr class="footer-hr">
        <div id="div-footer" class="footer" ng-controller="FooterController">
            <div class="container" style="color:white;">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <center>
                          <img src="/images/tyre.png" width="64" height="64"  alt="the-brains" class="img-responsive">
                          <br>
                          <h4 class="footertext">{{'FOOTER.TYRE.HEAD' | translate}}</h4>
                          <p class="footertext">{{'FOOTER.TYRE.REMARK' | translate}}<br>
                        </center>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <center>
                          <img src="/images/lubricant.png" width="64" height="64" alt="..." class="img-responsive">
                          <br>
                          <h4 class="footertext">{{'FOOTER.LUBRICANT.HEAD' | translate}}</h4>
                          <p class="footertext">{{'FOOTER.LUBRICANT.REMARK' | translate}}<br>
                        </center>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <center>
                          <img src="/images/battery.png" width="64" height="64" alt="..." class="img-responsive">
                          <br>
                          <h4 class="footertext">{{'FOOTER.BATTERY.HEAD' | translate}}</h4>
                          <p class="footertext">{{'FOOTER.BATTERY.REMARK' | translate}}<br>
                        </center>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <center>
                          <img src="/images/brake.png" width="64" height="64"  alt="the-brains" class="img-responsive">
                          <br>
                          <h4 class="footertext">{{'FOOTER.BRAKE.HEAD' | translate}}</h4>
                          <p class="footertext">{{'FOOTER.BRAKE.REMARK' | translate}}<br>
                        </center>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <center>
                          <img src="/images/shock.png" width="64" height="64" alt="..." class="img-responsive">
                          <br>
                          <h4 class="footertext">{{'FOOTER.SHOCK.HEAD' | translate}}</h4>
                          <p class="footertext">{{'FOOTER.SHOCK.REMARK' | translate}}<br>
                        </center>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <center>
                          <img src="/images/wrench.png" width="64" height="64" alt="..." class="img-responsive">
                          <br>
                          <h4 class="footertext">{{'FOOTER.WRENCH.HEAD' | translate}}</h4>
                          <p class="footertext">{{'FOOTER.WRENCH.REMARK' | translate}}<br>
                        </center>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <img class="pull-right" src="https://s3-ap-southeast-1.amazonaws.com/kzhweb/kzhapp-100x100.png" width="32px" height="32px">
                    </div>
                    <div class="col-md-7">
                        <a href="/contact" ng-click="SelectedBodyMenu('thai-post')">{{'FOOTER.CONTACT_US' | translate}}</a> 
                        <p class="footertext">{{'FOOTER.COPY_RIGHT' | translate}}</p>
                    </div>
                </div>
            </div>
        <div>
        <a href="#" class="scrollup">Scroll</a>
               
            </div>
           
            <hr class="footer-hr">
            <div id="div-sub-footer" class="sub-footer">
                <div class="container" style="color:white;">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 text-center">
                            <div id="fb-root"></div>
                            <script>(function(d, s, id) {
                              var js, fjs = d.getElementsByTagName(s)[0];
                              if (d.getElementById(id)) return;
                              js = d.createElement(s); js.id = id;
                              js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=174419525934936";
                              fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));</script>

                            <div class="fb-page" data-href="https://www.facebook.com/https://www.facebook.com/KZH-Parts-571156579574584/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <center>
                              <blockquote>
                                {{'FOOTER.AVAILABLE_ON_APPSTORE_PLAYSTORE' | translate}}...
                                <br>
                                <footer style="color:white;">KZH Parts</footer>
                            </blockquote>
                            </center>
                            <br>
                            <div class="row">
                                <a href="https://goo.gl/SHaPTS" target="_blank">
                                    <div class="col-md-3 facebook"></div>
                                </a>
                                <a href="https://goo.gl/GYHJ6E" target="_blank">
                                    <div class="col-md-3 google"></div>
                                </a>
                                <a href="https://goo.gl/tlFCBT" target="_blank">
                                    <div class="col-md-3 twitter"></div>
                                </a>
                                <a href="https://goo.gl/orQMJe" target="_blank">
                                    <div class="col-md-3 instagram"></div>
                                </a>
                            </div>
                            <div class="row text-center google-thaipost">
                                <div class="col-md-offset-1 col-xs-12 col-sm-12 col-md-5">
                                    <a href="https://www.google.com/maps/place/โค้วซุ่นเฮง+-+ค้าปลีก-+ส่ง+อะไหล่+น้ำมันเครื่อง+ยาง/@14.942145,103.7846685,16z/data=!4m2!3m1!1s0x0:0xe7284053efc84cd6?hl=en-US" target="_blank">
                                         <img src="/images/google-map.png" width="100px " height="65px" class="img-responsive">
                                        </a>
                                </div>
                                <div class="col-md-offset-1 col-xs-12 col-sm-12 col-md-5">
                                    <a href="http://track.thailandpost.co.th/tracking/default.aspx" target="_blank" ng-click="SelectedBodyMenu('thai-post')"><img src="/images/thaipost.png" width="100px" height="65px" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                            <div class="row text-center">
                                <img src="/images/comodo_secure_seal_113x59_transp.png" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <center>
                              <blockquote>
                                    {{'FOOTER.COMING_SOON' | translate}}...
                                </blockquote>
                            </center>
                            <br>
                            <center>
                                <img src="/images/dbappstore.png" width="180" height="75"  alt="KZHParts on AppStore" class="img-responsive">
                            </center>
                            <br>
                            <center>
                                <img src="/images/dbplaystore.png" width="180" height="75"  alt="KZHParts on PlayStore" class="img-responsive">
                            </center>
                            <br>
                            <!-- PayPal Logo --><table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppmcvdam.png" alt="Buy now with PayPal" /></td></tr></table><!-- PayPal Logo -->
                        </div>
                        <div class="col-sm-8" style="margin-top: 1.8em">
                            <div class="row well">
                                <div class="col-md-2 text-center" style="color: #333;margin-top: 0.7em;font-size: 16px;"><label>Subscriber :</label></div>
                                <div class="col-md-8">
                                     <form >
                                      <div class="row text-center">
                                            <div class="col-md-10">
                                            <input class="btn btn-lg btn-block" ng-model="EmailSubscriber" name="email" id="email" type="email" placeholder="Your Email" required style="color:#333;">
                                            </div>
                                            <div class="col-md-2">
                                                <button ng-click="Subscribe()" class="btn btn-info btn-lg" type="submit">Submit</button>
                                            </div>
                                      </div>
                                     </form>
                                 </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-72000276-1', 'auto');
        ga('send', 'pageview');
    </script>

    <!-- Start Facebook Comment Plugin -->
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '320977548070994',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

    <!-- End Facebook Comment Plugin -->
    <script> window.prerenderReady = false; </script>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-facebook/lib/angular-facebook.js"></script>
    <script src="bower_components/angular-recaptcha/release/angular-recaptcha.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angularjs-datepicker/dist/angular-datepicker.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/layzr.js/dist/layzr.js"></script>
    <script src="bower_components/less/dist/less.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/ng-password-strength/dist/scripts/ng-password-strength.js"></script>
    <script src="bower_components/ng-table/dist/ng-table.min.js"></script>
    <script src="bower_components/platform/platform.js"></script>
    <script src="bower_components/oauth-js/dist/oauth.min.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/paypaljsbuttons/dist/paypal-button.min.js"></script>
    <script src="bower_components/magnifier/magnifier.js"></script>
    <script src="bower_components/angular-spinners/dist/angular-spinners.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-aside/dist/js/angular-aside.js"></script>
    <script src="bower_components/es6-promise/promise.js"></script>
    <script src="bower_components/sweetalert2/dist/sweetalert2.js"></script>
    <script src="bower_components/rangy/rangy-core.js"></script>
    <script src="bower_components/rangy/rangy-classapplier.js"></script>
    <script src="bower_components/rangy/rangy-highlighter.js"></script>
    <script src="bower_components/rangy/rangy-selectionsaverestore.js"></script>
    <script src="bower_components/rangy/rangy-serializer.js"></script>
    <script src="bower_components/rangy/rangy-textrange.js"></script>
    <script src="bower_components/textAngular/dist/textAngular.js"></script>
    <script src="bower_components/textAngular/dist/textAngular-sanitize.js"></script>
    <script src="bower_components/textAngular/dist/textAngularSetup.js"></script>
    <script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/ngGeolocation/ngGeolocation.js"></script>
    <script src="bower_components/angular-growl-v2/build/angular-growl.js"></script>
    <script src="bower_components/angular-loading-overlay/dist/angular-loading-overlay.js"></script>
    <script src="bower_components/bootstrap-star-rating/js/star-rating.min.js"></script>
    <script src="bower_components/select2/select2.js"></script>
    <script src="bower_components/angular-select2/dist/angular-select2.js"></script>
    <script src="bower_components/Chart.js/dist/Chart.js"></script>
    <script src="bower_components/angular-update-meta/dist/update-meta.js"></script>
    <script src="bower_components/angular-seo/angular-seo.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTee4bgz7iWRFTldB3upIjbv0YYUqSP8o"></script>
 <!--   <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit"
  async defer></script>-->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/controllers/main-controller.js"></script>
    <script src="/scripts/controllers/header-controller.js"></script>
    <script src="/scripts/controllers/body-controller.js"></script>
    <script src="/scripts/controllers/footer-controller.js"></script>
    <script src="/scripts/controllers/article-controller.js"></script>
    <script src="/scripts/controllers/history-controller.js"></script>
    <script src="/scripts/controllers/contact-controller.js"></script>
    <script src="/scripts/controllers/about-controller.js"></script>
    <script src="/scripts/controllers/cart-controller.js"></script>
    <script src="/scripts/controllers/login-controller.js"></script>
    <script src="/scripts/controllers/shipment-controller.js"></script>
    <script src="/scripts/controllers/payment-controller.js"></script>
    <script src="/scripts/controllers/supplier-controller.js"></script>
    <script src="/scripts/controllers/technician-controller.js"></script>
    <script src="/scripts/controllers/entrepreneur-controller.js"></script>

    <script src="/scripts/controllers/setting/account-controller.js"></script>
    <script src="/scripts/controllers/setting/customer-controller.js"></script>
    <script src="/scripts/controllers/setting/customer-type-controller.js"></script>
    <script src="/scripts/controllers/setting/product-controller.js"></script>
    <script src="/scripts/controllers/setting/product-category-controller.js"></script>
    <script src="/scripts/controllers/setting/product-type-controller.js"></script>
    <script src="/scripts/controllers/setting/promotion-controller.js"></script>
    <script src="/scripts/controllers/setting/role-controller.js"></script>
    <script src="/scripts/controllers/setting/staff-controller.js"></script>
    <script src="/scripts/controllers/setting/uom-controller.js"></script>

    <script src="/scripts/configs/app-translate.js"></script>
    <script src="/scripts/configs/app-route.js"></script>
    <script src="/scripts/constants/constants.js"></script>
    <script src="/scripts/directives/enter-directive.js"></script>
    <script src="/scripts/directives/menu-directive.js"></script>
    <script src="/scripts/directives/menu-item-directive.js"></script>
    <script src="/scripts/directives/focus-directive.js"></script>
    <script src="/scripts/directives/scroll-on-click-directive.js"></script>
    <script src="/scripts/directives/product-type-directive.js"></script>
    <script src="/scripts/directives/product-directive.js"></script>
    <script src="/scripts/directives/article-directive.js"></script>
    <script src="/scripts/directives/technician-directive.js"></script>
    <script src="/scripts/services/menu-service.js"></script>
    <script src="/scripts/services/locale-service.js"></script>
    <script src="/scripts/services/receipt-order-service.js"></script>
    <script src="/scripts/services/user-service.js"></script>
    <script src="/scripts/services/currency-service.js"></script>
    <script src="/scripts/services/company-service.js"></script>
    <script src="/scripts/services/product-service.js"></script>
    <script src="/scripts/services/credential-service.js"></script>
    <script src="/scripts/services/social-service.js"></script>
    <script src="/scripts/services/email-service.js"></script>
    <script src="/scripts/services/crypto-service.js"></script>
    <script src="/scripts/services/product-type-service.js"></script>
    <script src="/scripts/services/product-category-service.js"></script>
    <script src="/scripts/services/uom-service.js"></script>
    <script src="/scripts/services/province-service.js"></script>
    <script src="/scripts/services/district-service.js"></script>
    <script src="/scripts/services/weight-rate-service.js"></script>
    <script src="/scripts/services/sub-district-service.js"></script>
    <script src="/scripts/services/app-config-service.js"></script>
    <script src="/scripts/services/aws-service.js"></script>
    <script src="/scripts/services/paypal-service.js"></script>
    <script src="/scripts/services/feedback-service.js"></script>
    <script src="/scripts/services/article-service.js"></script>
    <script src="/scripts/services/utility-service.js"></script>
    <script src="/scripts/services/subscribe-service.js"></script>
    <script src="/scripts/services/technician-service.js"></script>
    <script src="/scripts/services/entrepreneur-service.js"></script>
    <script src="/scripts/services/geolocation-service.js"></script>
    <script src="/scripts/services/service-service.js"></script>
    <script src="/scripts/services/role-service.js"></script>
    <script src="/scripts/filters/html-filter.js"></script>
    <script src="/scripts/filters/cut-more-filter.js"></script>
    <script src="/scripts/factories/data-model-factory.js"></script>
    <script src="/scripts/scripts/main.js"></script>
    <script src="/scripts/scripts/google-map.js"></script>
    <script src="/scripts/scripts/step.js"></script>
    <!-- endbuild -->
</body>

</html>