<div style="color:whitesmoke" ng-init="LoadArticles()">
	<a href="" class="btn btn-lg btn-block btn-default" ng-click="CreateArticle()"> 
		<i class="fa fa-share-alt"></i> แบ่งปันเรื่องราว, เทคนิค, ความรู้, ประสบการณ์ ของท่าน
	</a>
	<div class="animated fadeIn text-center load-data-articles" ng-if="!ArticlesDataReady">
		<i class="fa fa-refresh fa-spin fa-4x fa-fw margin-bottom"></i>
        <span class="sr-only">Loading...</span>
	</div>
	<div class="animated fadeIn" ng-if="ArticlesDataReady">
		<div id="ViewArticle" class="animated fadeIn" style="display: block">
			<div class="row">
				<div class="col-md-12"><h3><i class="fa fa-thumb-tack"></i> เรื่องราว, ประสบการณ์, เทคนิค ยอดเยี่ยม</h3></div>
				<div class="text-center" ng-if="GreatArticles.length <= 0">
					<i class="fa fa-comments-o fa-4x"></i>
				</div>
				<div ng-if="GreatArticles.length > 0">
					<div class="col-md-12 row-articles" ng-repeat="GreatArticle in GreatArticles">
						
					</div>
				</div>
			</div>
			<hr class="footer-hr">
			<div class="row">
				<div class="col-md-12"><h3><i class="fa fa-pencil"></i> เรื่องราว, ประสบการณ์, เทคนิค</h3></div>
				<div class="text-center" ng-if="Articles.length <= 0">
					<i class="fa fa-comment-o fa-4x"></i>
				</div>
				
				<div class="row" >
					<div ng-repeat="Article in Articles">
						<article-card-list article="Article"></article-card-list> 
					</div>
				</div>
			</div>
		</div>
	</div>
</div>