<div id="div-customer-type-detail" class="row animated fadeIn">
    <div class="col-md-8 col-md-offset-2">
        <form class="form-horizontal" role="form">
            <fieldset>
                <!-- Form Name -->
                <legend></legend>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="textinput">{{'BODY.SECTION.SETTING.CUSTOMER_TYPE.CUSTOMER_TYPE_CODE' | translate}}</label>
                    <div class="col-sm-6">
                        <input type="text" placeholder="Customer Type Code" class="form-control" ng-model="ViewCustomerTypeData.CustomerTypeCode" readonly> 
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="textinput">{{'BODY.SECTION.SETTING.CUSTOMER_TYPE.CUSTOMER_TYPE_NAME_TH' | translate}}</label>
                    <div class="col-sm-6">
                        <input type="text" placeholder="Customer Type Name TH" class="form-control" ng-model="ViewCustomerTypeData.CustomerTypeNameTh">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="textinput">{{'BODY.SECTION.SETTING.CUSTOMER_TYPE.CUSTOMER_TYPE_NAME_EN' | translate}}</label>
                    <div class="col-sm-6">
                        <input type="text" placeholder="Customer Type Name EN" class="form-control" ng-model="ViewCustomerTypeData.CustomerTypeNameEn">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-warning" ng-click="NewCustomerType()">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{'BODY.SECTION.SETTING.BUTTON.NEW' | translate}}</button>
                            <button type="submit" class="btn btn-primary" ng-click="SaveCustomerType()">
                                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> {{'BODY.SECTION.SETTING.BUTTON.SAVE' | translate}}</button>
                            <button type="submit" class="btn btn-danger" ng-click="DeleteCustomerType()">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> {{'BODY.SECTION.SETTING.BUTTON.DELETE' | translate}}</button>
                            <button type="submit" class="btn btn-default" ng-click="CancelCustomerType()">
                                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> {{'BODY.SECTION.SETTING.BUTTON.CANCEL' | translate}}</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>