<div id="about-section" name="about-section" class="row" >
    <h3>{{'BODY.SECTION.ABOUT.HEAD' | translate}}</h3>
    <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <div class="text-center">
                <i class="fa fa-quote-left"></i>
            </div>
            <br>
            <div class="text-center">
                <h2 class="featurette-heading">{{'BODY.SECTION.ABOUT.MARKETING.CONTENT_1.TITLE' | translate}}</h2><br>
                <h4><i><span class="text-muted marketing-subtitle">{{'BODY.SECTION.ABOUT.MARKETING.CONTENT_1.SUB_TITLE' | translate}}</span></i></h4>
                <h5><p class="lead">{{'BODY.SECTION.ABOUT.MARKETING.CONTENT_1.MESSAGE' | translate}}</p></h5>
            </div>
            <br>
            <div class="text-center">
                <i class="fa fa-quote-right"></i>
            </div>
            <br>
            <center><img src="images/customer.png" class="img-responsive" width="32" height="32"></center>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500"  src="/images/kzh-mkt-01.png" class="img-responsive"  data-holder-rendered="true">
        </div>
            
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <i class="fa fa-quote-left"></i>
            </div>
            <br>
            <div class="text-center">
                <h2 class="featurette-heading">{{'BODY.SECTION.ABOUT.MARKETING.CONTENT_2.TITLE' | translate}} </h2><br>
                <h4><i><span class="text-muted marketing-subtitle"> {{'BODY.SECTION.ABOUT.MARKETING.CONTENT_2.SUB_TITLE' | translate}}</span></i></h4>
                <h5><p class="lead">{{'BODY.SECTION.ABOUT.MARKETING.CONTENT_2.MESSAGE' | translate}}</p></h5>
            </div>
            <br>
              <div class="text-center">
                  <i class="fa fa-quote-right"></i>
              </div>
            <br>
            <center><img src="images/product.png" class="img-responsive" width="32" height="32"></center>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500"  src="/images/kzh-mkt-02.png" class="img-responsive"  data-holder-rendered="true">
        </div>
      </div>

       <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <div class="text-center">
                <i class="fa fa-quote-left"></i>
            </div>
            <br>
            <div class="text-center">
                <h2 class="featurette-heading">{{'BODY.SECTION.ABOUT.MARKETING.CONTENT_3.TITLE' | translate}}</h2><br>
                <h4><i><span class="text-muted marketing-subtitle">{{'BODY.SECTION.ABOUT.MARKETING.CONTENT_3.SUB_TITLE' | translate}}</span></i></h4>
                <h5><p class="lead">{{'BODY.SECTION.ABOUT.MARKETING.CONTENT_3.MESSAGE' | translate}}</p></h5>
            </div>
            <br>
            <div class="text-center">
                <i class="fa fa-quote-right"></i>
            </div>
             <br>
            <center><img src="images/heart.png" class="img-responsive" width="32" height="32"></center>
        </div>
        
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500"  src="/images/kzh-mkt-03.png" class="img-responsive" data-holder-rendered="true">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
            <div class="text-center">
                <i class="fa fa-quote-left"></i>
            </div>
            <br>
            <div class="text-center">
                <h2 class="featurette-heading">{{'BODY.SECTION.ABOUT.MARKETING.CONTENT_4.TITLE' | translate}}</h2><br>
                <h4><i><span class="text-muted marketing-subtitle">{{'BODY.SECTION.ABOUT.MARKETING.CONTENT_4.SUB_TITLE' | translate}}</span></i></h4>
                <h5><p class="lead">{{'BODY.SECTION.ABOUT.MARKETING.CONTENT_4.MESSAGE' | translate}}</p></h5>
            </div>
            <br>
            <div class="text-center">
                <i class="fa fa-quote-right"></i>
            </div>
            <br>
            <center><img src="images/internet.png" class="img-responsive" width="32" height="32"></center>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="/images/kzh-mkt-04.png" class="img-responsive" data-holder-rendered="true" >
        </div>
      </div>
</div>