<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
        <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active" align="center">
            <img src="/images/kzh01.jpg" alt="...">
            <div class="carousel-caption">

            </div>
        </div>
        <div class="item" align="center">
            <img src="/images/kzh02.jpg" alt="...">
            <div class="carousel-caption ">

            </div>
        </div>
        <div class="item" align="center">
            <img src="/images/kzh03.jpg" alt="...">
            <div class="carousel-caption ">

            </div>
        </div>
        <div class="item" align="center">
            <img src="/images/kzh04.jpg" alt="...">
            <div class="carousel-caption ">

            </div>
        </div>
        <div class="item" align="center">
            <img src="/images/kzh05.jpg" alt="... ">
            <div class="carousel-caption ">

            </div>
        </div>
        <div class="item" align="center">
            <img src="/images/kzh06.jpg" alt="... ">
            <div class="carousel-caption ">

            </div>
        </div>
        <div class="item" align="center">
            <img src="/images/kzh07.jpg" alt="... ">
            <div class="carousel-caption ">

            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control " href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control " href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
<!-- End Carousel -->
<hr>
<div id="nav">
    <!-- Display Product type-->
    <table id="ProductTypeTable" ng-init="LoadProductCategory()">
        <tr ng-repeat="pc in ProductCategory" ng-animate="animate">
            <td>
                <a href=" #product-section " ng-click="LoadProductByProductCategoryCode(pc.ProductCategoryCode) ">{{pc.ProductCategoryNameTh}}</a>
            </td>
        </tr>
    </table>
    <!-- Google Map & Thai-Post Image-->
    <table>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td style="center ">
                <a href="#google-map-section "><img src="/images/google-map.png " width="100px " height="50px ">
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <br/>
            </td>
        </tr>
        <tr>
            <td style="center ">
                <a href="#thai-post-section "><img src="/images/thaipost.png " width="100px " height="50px ">
                </a>
            </td>
        </tr>
        <tr>
            <td>

            </td>
        </tr>
    </table>
</div>
<!-- div-nav-->
<div id="div-change-view">
    <!-- <div> product to cart-->
    <div id="product-section" ng-init="LoadProduct() " class="section animated fadeIn " ng-show="SelectedMenu=='product' ">
        <div class="row ">
            <div class="col-lg-3 col-sm-4 col-xs-6 " ng-repeat="p in Product" ng-animate="'animate'">
                <img src="./images/3k%20bat.gif " class="img-responsive ">
                <div class="caption">
                    <h5 style="color:white; ">{{p.ProductNameTh}}</h5>
                    <p style="color:white; ">ราคา {{p.RetailPrice}} บาท</p>
                    <p style="color:white; ">จำนวน
                    </p>
                    <input type="text " class="InputQty " placeholder="0 " style="text-align:right; color:black; " ng-model="BuyQty ">
                    <div class="dropdown ">
                        <button class="btn btn-default dropdown-toggle " type="button " id="menu1 " data-toggle="dropdown ">หน่วย
                            <span class="caret "></span>
                        </button>
                        <ul class="dropdown-menu " role="menu " aria-labelledby="menu1 ">
                            <li role="presentation "><a role="menuitem ">HTML</a>
                            </li>
                            <li role="presentation "><a role="menuitem ">CSS</a>
                            </li>
                        </ul>
                    </div>
                    <p>
                        <button class="btn btn-primary " ng-click="AddCart(p, BuyQty, $index) "> Add Cart</button>
                        <div class="col-md-6 ">
                            <a class="btn btn-primary btn-product "><span class="glyphicon glyphicon-thumbs-up "></span> Like</a>
                        </div>
                        <div class="col-md-6 ">
                            <a href="# " class="btn btn-success btn-product "><span class="glyphicon glyphicon-shopping-cart "></span> Buy</a>
                        </div>
                    </p>
                </div>

            </div>

        </div>

        <div id="AddCartModal " class="modal fade ">

            <div class="modal-dialog ">
                <div class="modal-content ">
                    <div class="modal-header ">
                        <button type="button " class="close " data-dismiss="modal" aria-hidden="true">x</button>
                        <h4>Header</h4>
                    </div>
                    <div class="modal-body ">
                        Modal Content
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div> article -->
    <div id="article-section" class="section" ng-show="SelectedMenu=='article' ">
        <h1>Article</h1>
    </div>

    <!-- <div> payment method -->
    <div id="payment-section" class="section" ng-show="SelectedMenu=='payment' ">
        <h1>Payment</h1>
        <table>
            <tr>
                <td>
                    1.
                </td>
                <td>
                    <img src="/images/bbl.png " width="40px " height="40px" />
                </td>
                <td translate="BODY.SECTION.PAYMENT.BBL_ACC ">
                    หมายเลข 440-99934-3454
                </td>
            </tr>
            <tr>
                <td>
                    2.
                </td>
                <td>
                    <img src="/images/kbank.png " width="40px " height="40px" />

                </td>
                <td translate="BODY.SECTION.PAYMENT.KBANK_ACC ">
                    หมายเลข 440-99934-3454

                </td>
            </tr>
            <tr>
                <td>
                    3.
                </td>
                <td>
                    <img src="images/scb.png " width="40px " height="40px " />

                </td>
                <td translate="BODY.SECTION.PAYMENT.SCB_ACC ">
                    หมายเลข 440-99934-3454

                </td>
            </tr>
            <tr>
                <td>
                    4.
                </td>
                <td>
                    <img src="images/ktb.png " width="40px " height="40px " />

                </td>
                <td translate="BODY.SECTION.PAYMENT.KTB_ACC ">
                    หมายเลข 440-99934-3454

                </td>
            </tr>
            <tr>
                <td>
                    5.
                </td>
                <td>
                    <img src="images/kcc.png " width="40px " height="40px " />

                </td>
                <td translate="BODY.SECTION.PAYMENT.KCC_ACC ">
                    หมายเลข 440-99934-3454

                </td>
            </tr>
        </table>
    </div>
    <!-- <div> about us -->
    <div id="about-section " class="section " ng-show="SelectedMenu=='about' ">

    </div>
    <!-- <div> google map -->
    <div id="google-map-section " class="section " ng-show="SelectedMenu=='google-map' ">
        <h1></h1>

    </div>
    <!-- <div> thai-post -->
    <div id="thai-post-section " class="section " ng-show="SelectedMenu=='thai-post' ">
        <h1></h1>
    </div>

    <!-- <div> Shipment Process -->
    <div id="shipment-section " class="section " ng-show="SelectedMenu=='shipment' ">
        <h1>Payment</h1>
        <h1></h1>
        <div class="stepwizard ">
            <div class="stepwizard-row ">

                <div class="stepwizard-step ">
                    <button type="button " class="btn btn-primary btn-circle ">1</button>
                    <p>Shipping</p>
                </div>
                <div class="stepwizard-step ">
                    <button type="button " class="btn btn-default btn-circle " disabled="disabled ">2</button>
                    <p>Validate</p>
                </div>
                <div class="stepwizard-step ">
                    <button type="button " class="btn btn-default btn-circle " disabled="disabled ">3</button>
                    <p>Payment</p>
                </div>
            </div>
        </div>
        <div id=" ">
            <!-- Step Billing Address-->
            <h3>Billing Address</h3>
            <div class="row ">
                <form class="form-horizontal ">
                    <fieldset>
                        <!-- Address form -->
                        <h2>Address</h2>
                        <!-- full-name input-->
                        <div class="control-group ">
                            <label class="control-label ">Full Name</label>
                            <div class="controls ">
                                <input id="full-name " name="full-name " type="text " placeholder="full name " class="input-xlarge ">
                                <p class="help-block "></p>
                            </div>
                        </div>
                        <!-- address-line1 input-->
                        <div class="control-group ">
                            <label class="control-label ">Address Line 1</label>
                            <div class="controls ">
                                <input id="address-line1 " name="address-line1 " type="text " placeholder="address line 1 " class="input-xlarge ">
                                <p class="help-block ">Street address, P.O. box, company name, c/o</p>
                            </div>
                        </div>
                        <!-- address-line2 input-->
                        <div class="control-group ">
                            <label class="control-label ">Address Line 2</label>
                            <div class="controls ">
                                <input id="address-line2 " name="address-line2 " type="text " placeholder="address line 2 " class="input-xlarge ">
                                <p class="help-block ">Apartment, suite , unit, building, floor, etc.</p>
                            </div>
                        </div>
                        <!-- city input-->
                        <div class="control-group ">
                            <label class="control-label ">City / Town</label>
                            <div class="controls ">
                                <input id="city " name="city " type="text " placeholder="city " class="input-xlarge ">
                                <p class="help-block "></p>
                            </div>
                        </div>
                        <!-- region input-->
                        <div class="control-group ">
                            <label class="control-label ">State / Province / Region</label>
                            <div class="controls ">
                                <input id="region " name="region " type="text " placeholder="state / province / region " class="input-xlarge ">
                                <p class="help-block "></p>
                            </div>
                        </div>
                        <!-- postal-code input-->
                        <div class="control-group ">
                            <label class="control-label ">Zip / Postal Code</label>
                            <div class="controls ">
                                <input id="postal-code " name="postal-code " type="text " placeholder="zip or postal code " class="input-xlarge ">
                                <p class="help-block "></p>
                            </div>
                        </div>
                        <!-- country select -->
                        <div class="control-group ">
                            <label class="control-label ">Country</label>
                            <div class="controls ">
                                <select id="country " name="country " class="input-xlarge ">
                                    <option value=" " selected="selected ">(please select a country)</option>
                                    <option value="AF ">Afghanistan</option>
                                    <option value="AL ">Albania</option>
                                    <option value="DZ ">Algeria</option>
                                    <option value="AS ">American Samoa</option>
                                    <option value="AD ">Andorra</option>
                                    <option value="AO ">Angola</option>
                                    <option value="AI ">Anguilla</option>
                                    <option value="AQ ">Antarctica</option>
                                    <option value="AG ">Antigua and Barbuda</option>
                                    <option value="AR ">Argentina</option>
                                    <option value="AM ">Armenia</option>
                                    <option value="AW ">Aruba</option>
                                    <option value="AU ">Australia</option>
                                    <option value="AT ">Austria</option>
                                    <option value="AZ ">Azerbaijan</option>
                                    <option value="BS ">Bahamas</option>
                                    <option value="BH ">Bahrain</option>
                                    <option value="BD ">Bangladesh</option>
                                    <option value="BB ">Barbados</option>
                                    <option value="BY ">Belarus</option>
                                    <option value="BE ">Belgium</option>
                                    <option value="BZ ">Belize</option>
                                    <option value="BJ ">Benin</option>
                                    <option value="BM ">Bermuda</option>
                                    <option value="BT ">Bhutan</option>
                                    <option value="BO ">Bolivia</option>
                                    <option value="BA ">Bosnia and Herzegowina</option>
                                    <option value="BW ">Botswana</option>
                                    <option value="BV ">Bouvet Island</option>
                                    <option value="BR ">Brazil</option>
                                    <option value="IO ">British Indian Ocean Territory</option>
                                    <option value="BN ">Brunei Darussalam</option>
                                    <option value="BG ">Bulgaria</option>
                                    <option value="BF ">Burkina Faso</option>
                                    <option value="BI ">Burundi</option>
                                    <option value="KH ">Cambodia</option>
                                    <option value="CM ">Cameroon</option>
                                    <option value="CA ">Canada</option>
                                    <option value="CV ">Cape Verde</option>
                                    <option value="KY ">Cayman Islands</option>
                                    <option value="CF ">Central African Republic</option>
                                    <option value="TD ">Chad</option>
                                    <option value="CL ">Chile</option>
                                    <option value="CN ">China</option>
                                    <option value="CX ">Christmas Island</option>
                                    <option value="CC ">Cocos (Keeling) Islands</option>
                                    <option value="CO ">Colombia</option>
                                    <option value="KM ">Comoros</option>
                                    <option value="CG ">Congo</option>
                                    <option value="CD ">Congo, the Democratic Republic of the</option>
                                    <option value="CK ">Cook Islands</option>
                                    <option value="CR ">Costa Rica</option>
                                    <option value="CI ">Cote d'Ivoire</option>
                                    <option value="HR ">Croatia (Hrvatska)</option>
                                    <option value="CU ">Cuba</option>
                                    <option value="CY ">Cyprus</option>
                                    <option value="CZ ">Czech Republic</option>
                                    <option value="DK ">Denmark</option>
                                    <option value="DJ ">Djibouti</option>
                                    <option value="DM ">Dominica</option>
                                    <option value="DO ">Dominican Republic</option>
                                    <option value="TP ">East Timor</option>
                                    <option value="EC ">Ecuador</option>
                                    <option value="EG ">Egypt</option>
                                    <option value="SV ">El Salvador</option>
                                    <option value="GQ ">Equatorial Guinea</option>
                                    <option value="ER ">Eritrea</option>
                                    <option value="EE ">Estonia</option>
                                    <option value="ET ">Ethiopia</option>
                                    <option value="FK ">Falkland Islands (Malvinas)</option>
                                    <option value="FO ">Faroe Islands</option>
                                    <option value="FJ ">Fiji</option>
                                    <option value="FI ">Finland</option>
                                    <option value="FR ">France</option>
                                    <option value="FX ">France, Metropolitan</option>
                                    <option value="GF ">French Guiana</option>
                                    <option value="PF ">French Polynesia</option>
                                    <option value="TF ">French Southern Territories</option>
                                    <option value="GA ">Gabon</option>
                                    <option value="GM ">Gambia</option>
                                    <option value="GE ">Georgia</option>
                                    <option value="DE ">Germany</option>
                                    <option value="GH ">Ghana</option>
                                    <option value="GI ">Gibraltar</option>
                                    <option value="GR ">Greece</option>
                                    <option value="GL ">Greenland</option>
                                    <option value="GD ">Grenada</option>
                                    <option value="GP ">Guadeloupe</option>
                                    <option value="GU ">Guam</option>
                                    <option value="GT ">Guatemala</option>
                                    <option value="GN ">Guinea</option>
                                    <option value="GW ">Guinea-Bissau</option>
                                    <option value="GY ">Guyana</option>
                                    <option value="HT ">Haiti</option>
                                    <option value="HM ">Heard and Mc Donald Islands</option>
                                    <option value="VA ">Holy See (Vatican City State)</option>
                                    <option value="HN ">Honduras</option>
                                    <option value="HK ">Hong Kong</option>
                                    <option value="HU ">Hungary</option>
                                    <option value="IS ">Iceland</option>
                                    <option value="IN ">India</option>
                                    <option value="ID ">Indonesia</option>
                                    <option value="IR ">Iran (Islamic Republic of)</option>
                                    <option value="IQ ">Iraq</option>
                                    <option value="IE ">Ireland</option>
                                    <option value="IL ">Israel</option>
                                    <option value="IT ">Italy</option>
                                    <option value="JM ">Jamaica</option>
                                    <option value="JP ">Japan</option>
                                    <option value="JO ">Jordan</option>
                                    <option value="KZ ">Kazakhstan</option>
                                    <option value="KE ">Kenya</option>
                                    <option value="KI ">Kiribati</option>
                                    <option value="KP ">Korea, Democratic People's Republic of</option>
                                    <option value="KR ">Korea, Republic of</option>
                                    <option value="KW ">Kuwait</option>
                                    <option value="KG ">Kyrgyzstan</option>
                                    <option value="LA ">Lao People's Democratic Republic</option>
                                    <option value="LV ">Latvia</option>
                                    <option value="LB ">Lebanon</option>
                                    <option value="LS ">Lesotho</option>
                                    <option value="LR ">Liberia</option>
                                    <option value="LY ">Libyan Arab Jamahiriya</option>
                                    <option value="LI ">Liechtenstein</option>
                                    <option value="LT ">Lithuania</option>
                                    <option value="LU ">Luxembourg</option>
                                    <option value="MO ">Macau</option>
                                    <option value="MK ">Macedonia, The Former Yugoslav Republic of</option>
                                    <option value="MG ">Madagascar</option>
                                    <option value="MW ">Malawi</option>
                                    <option value="MY ">Malaysia</option>
                                    <option value="MV ">Maldives</option>
                                    <option value="ML ">Mali</option>
                                    <option value="MT ">Malta</option>
                                    <option value="MH ">Marshall Islands</option>
                                    <option value="MQ ">Martinique</option>
                                    <option value="MR ">Mauritania</option>
                                    <option value="MU ">Mauritius</option>
                                    <option value="YT ">Mayotte</option>
                                    <option value="MX ">Mexico</option>
                                    <option value="FM ">Micronesia, Federated States of</option>
                                    <option value="MD ">Moldova, Republic of</option>
                                    <option value="MC ">Monaco</option>
                                    <option value="MN ">Mongolia</option>
                                    <option value="MS ">Montserrat</option>
                                    <option value="MA ">Morocco</option>
                                    <option value="MZ ">Mozambique</option>
                                    <option value="MM ">Myanmar</option>
                                    <option value="NA ">Namibia</option>
                                    <option value="NR ">Nauru</option>
                                    <option value="NP ">Nepal</option>
                                    <option value="NL ">Netherlands</option>
                                    <option value="AN ">Netherlands Antilles</option>
                                    <option value="NC ">New Caledonia</option>
                                    <option value="NZ ">New Zealand</option>
                                    <option value="NI ">Nicaragua</option>
                                    <option value="NE ">Niger</option>
                                    <option value="NG ">Nigeria</option>
                                    <option value="NU ">Niue</option>
                                    <option value="NF ">Norfolk Island</option>
                                    <option value="MP ">Northern Mariana Islands</option>
                                    <option value="NO ">Norway</option>
                                    <option value="OM ">Oman</option>
                                    <option value="PK ">Pakistan</option>
                                    <option value="PW ">Palau</option>
                                    <option value="PA ">Panama</option>
                                    <option value="PG ">Papua New Guinea</option>
                                    <option value="PY ">Paraguay</option>
                                    <option value="PE ">Peru</option>
                                    <option value="PH ">Philippines</option>
                                    <option value="PN ">Pitcairn</option>
                                    <option value="PL ">Poland</option>
                                    <option value="PT ">Portugal</option>
                                    <option value="PR ">Puerto Rico</option>
                                    <option value="QA ">Qatar</option>
                                    <option value="RE ">Reunion</option>
                                    <option value="RO ">Romania</option>
                                    <option value="RU ">Russian Federation</option>
                                    <option value="RW ">Rwanda</option>
                                    <option value="KN ">Saint Kitts and Nevis</option>
                                    <option value="LC ">Saint LUCIA</option>
                                    <option value="VC ">Saint Vincent and the Grenadines</option>
                                    <option value="WS ">Samoa</option>
                                    <option value="SM ">San Marino</option>
                                    <option value="ST ">Sao Tome and Principe</option>
                                    <option value="SA ">Saudi Arabia</option>
                                    <option value="SN ">Senegal</option>
                                    <option value="SC ">Seychelles</option>
                                    <option value="SL ">Sierra Leone</option>
                                    <option value="SG ">Singapore</option>
                                    <option value="SK ">Slovakia (Slovak Republic)</option>
                                    <option value="SI ">Slovenia</option>
                                    <option value="SB ">Solomon Islands</option>
                                    <option value="SO ">Somalia</option>
                                    <option value="ZA ">South Africa</option>
                                    <option value="GS ">South Georgia and the South Sandwich Islands</option>
                                    <option value="ES ">Spain</option>
                                    <option value="LK ">Sri Lanka</option>
                                    <option value="SH ">St. Helena</option>
                                    <option value="PM ">St. Pierre and Miquelon</option>
                                    <option value="SD ">Sudan</option>
                                    <option value="SR ">Suriname</option>
                                    <option value="SJ ">Svalbard and Jan Mayen Islands</option>
                                    <option value="SZ ">Swaziland</option>
                                    <option value="SE ">Sweden</option>
                                    <option value="CH ">Switzerland</option>
                                    <option value="SY ">Syrian Arab Republic</option>
                                    <option value="TW ">Taiwan, Province of China</option>
                                    <option value="TJ ">Tajikistan</option>
                                    <option value="TZ ">Tanzania, United Republic of</option>
                                    <option value="TH ">Thailand</option>
                                    <option value="TG ">Togo</option>
                                    <option value="TK ">Tokelau</option>
                                    <option value="TO ">Tonga</option>
                                    <option value="TT ">Trinidad and Tobago</option>
                                    <option value="TN ">Tunisia</option>
                                    <option value="TR ">Turkey</option>
                                    <option value="TM ">Turkmenistan</option>
                                    <option value="TC ">Turks and Caicos Islands</option>
                                    <option value="TV ">Tuvalu</option>
                                    <option value="UG ">Uganda</option>
                                    <option value="UA ">Ukraine</option>
                                    <option value="AE ">United Arab Emirates</option>
                                    <option value="GB ">United Kingdom</option>
                                    <option value="US ">United States</option>
                                    <option value="UM ">United States Minor Outlying Islands</option>
                                    <option value="UY ">Uruguay</option>
                                    <option value="UZ ">Uzbekistan</option>
                                    <option value="VU ">Vanuatu</option>
                                    <option value="VE ">Venezuela</option>
                                    <option value="VN ">Viet Nam</option>
                                    <option value="VG ">Virgin Islands (British)</option>
                                    <option value="VI ">Virgin Islands (U.S.)</option>
                                    <option value="WF ">Wallis and Futuna Islands</option>
                                    <option value="EH ">Western Sahara</option>
                                    <option value="YE ">Yemen</option>
                                    <option value="YU ">Yugoslavia</option>
                                    <option value="ZM ">Zambia</option>
                                    <option value="ZW ">Zimbabwe</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- div-change-view-->