<div id="div-body" ng-controller="BodyController">
    <div class="input-group search-form">
      <input type="text" class="form-control" ng-model="SearchAllText" ng-enter="Search()" ng-keydown="expression" placeholder="{{'HEAD.MENU.SEARCH.PLACEHOLDER' | translate}}">
      <span class="input-group-btn">
        <button class="btn btn-danger search-button-spacer" type="reset" ng-click="Search()"><span class="glyphicon glyphicon-search"></span></button>
      </span>
    </div>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
            <li data-target="#carousel-example-generic" data-slide-to="6"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active" align="center">
                <img src="/images/kzh01.jpg" alt="{{'BODY.CAROUSEL.ONE.TOOLTIP' | translate}}">
                <div class="carousel-caption">
                    <h3>{{'BODY.CAROUSEL.ONE.TITLE' | translate}}</h3>
                    <p>{{'BODY.CAROUSEL.ONE.TEXT' | translate}}</p>
                </div>
            </div>
            <div class="item" align="center">
                <img src="/images/kzh02.jpg" alt="...">
                <div class="carousel-caption ">
                    <h3>{{'BODY.CAROUSEL.TWO.TITLE' | translate}}</h3>
                    <p>{{'BODY.CAROUSEL.TWO.TEXT' | translate}}</p>
                </div>
            </div>
            <div class="item" align="center">
                <img src="/images/kzh03.jpg" alt="...">
                <div class="carousel-caption ">
                    <h3>{{'BODY.CAROUSEL.THREE.TITLE' | translate}}</h3>
                    <p>{{'BODY.CAROUSEL.THREE.TEXT' | translate}}</p>
                </div>
            </div>
            <div class="item" align="center">
                <img src="/images/kzh04.jpg" alt="...">
                <div class="carousel-caption ">
                    <h3>{{'BODY.CAROUSEL.FOUR.TITLE' | translate}}</h3>
                    <p>{{'BODY.CAROUSEL.FOUR.TEXT' | translate}}</p>
                </div>
            </div>
            <div class="item" align="center">
                <img src="/images/kzh05.jpg" alt="...">
                <div class="carousel-caption ">
                    <h3>{{'BODY.CAROUSEL.FIVE.TITLE' | translate}}</h3>
                    <p>{{'BODY.CAROUSEL.FIVE.TEXT' | translate}}</p>
                </div>
            </div>
            <div class="item" align="center">
                <img src="/images/kzh06.jpg" alt="...">
                <div class="carousel-caption ">
                    <h3>{{'BODY.CAROUSEL.SIX.TITLE' | translate}}</h3>
                    <p>{{'BODY.CAROUSEL.SIX.TEXT' | translate}}</p>
                </div>
            </div>
            <div class="item" align="center">
                <img src="/images/kzh07.jpg" alt="...">
                <div class="carousel-caption ">
                    <h3>{{'BODY.CAROUSEL.SEVEN.TITLE' | translate}}</h3>
                    <p>{{'BODY.CAROUSEL.SEVEN.TEXT' | translate}}</p>
                </div>
            </div>
        </div>
        <a class="left carousel-control" data-target="#carousel-example-generic" role="button" data-slide="prev" style="cursor:pointer">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" data-target="#carousel-example-generic" role="button" data-slide="next" style="cursor:pointer">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div id="div-change-view" class="col-xs-12 col-sm-12 col-md-12">
                <div id="product-section">
                    <div name="product-section" ng-init="LoadProduct()" id="ProductDataReady" class="section animated fadeIn" 
                    ng-show="SelectedMenu === 'product'" style="display:none; padding-top:0px">
                        <div class="row text-center" >
                            <uib-pagination items-per-page="itemsPerPage"
                    ng-model="currentPage" boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-3 text-center" ng-repeat="p in Products.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                <div class="product-detail">
                                    <div class="product-gallery-footer">
                                        <div class="thumbnailProductImage" style="height:200px; width:200px">
                                            <img src="/images/no-image.png" class="img-responsive" ng-show="p.ProductImageRefId.length <= 0 || p.ProductImageRefId === undefined">
                                            <div class="label-hot animated infinite pulse" ng-show="p.IsHot"> {{'BODY.SECTION.PRODUCT.LABEL_HOT' | translate}}</div>
                                            <span class="sale animated infinite pulse" ng-show="p.IsHot">
                                                <img src="/images/sale.png" width="70" height="70">
                                            </span>
                                            <div id="ThumbnailProductImage_{{p.ProductCode}}" ng-init="LoadProductImageByProductCode(p.ProductImageRefId, p._id, p.ProductCode)" class="img-container" >
                                                <div ng-if="p.ImageDataReady">
                                                    <div class="label_product_new" ng-show="p.IsNew">{{'BODY.SECTION.PRODUCT.LABEL_NEW' | translate}}</div>
                                                    <div style="position:absolute;" ng-show="p.IsNew">
                                                        <img src="/images/stripe-new.png" class="product_status product_new" 
                                                        width="100px" height="100px" ng-show="p.ProductImageRefId.length > 0 || p.ProductImageRefId !== undefined">
                                                    </div>
                                                    <div ng-show="(p.Promotion !== undefined && p.Promotion !== null) || p.Promotion.length > 0">
                                                        <img src="/images/stripe-sale.png" class="product_status product_sale" 
                                                        width="100px" height="40px" >
                                                    </div>
                                                    <div ng-show="(p.Promotion !== undefined && p.Promotion !== null) || p.Promotion.length > 0">
                                                        <label class="label_sale">{{'BODY.SECTION.PRODUCT.LABEL_SALE' | translate}}</label>
                                                    </div> 
                                                    <div ng-show="(p.Promotion !== undefined && p.Promotion !== null) || p.Promotion.length > 0">
                                                        <label class="percent_sale">- {{p.Promotion[0].DiscountPercent}} %</label>
                                                    </div>
                                                </div>
                                                <div id="ImageDataReady_{{p.ProductCode}}" ng-if="(!p.ImageDataReady || p.ImageDataReady === undefined) && (p.ProductImageRefId.length > 0 || p.ProductImageRefId !== undefined)" class="loading-product-image text-center">
                                                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="caption">
                                            <div class="product-gallery-name">
                                                <h5 style="color:white;" ng-show="SelectedLocale=='th'">{{p.ProductNameTh}}</h5>
                                                <h5 style="color:white;" ng-show="SelectedLocale=='us'">{{p.ProductNameEn}}</h5>
                                                <h5 style="color:white;" ng-show="SelectedLocale=='cn'">{{p.ProductNameCn}}</h5>
                                            </div>
                                            <p style="color:white;">
                                                <div class="row">
                                                    <div class="col-xs-3 col-sm-3 col-md-3">
                                                        {{'BODY.SECTION.PRODUCT.PRICE' | translate}} 
                                                    </div>
                                                    <div class="col-xs-3 col-sm-4">
                                                    </div>
                                                    <div id="ProductPriceLabel" class="col-xs-6 col-sm-6 col-md-6 pull-right" >
                                                        <div>
                                                            <strike ng-show="(p.Promotion !== undefined && p.Promotion !== null) || p.Promotion.length > 0">{{CurrencySymbol}} {{(p.RetailPrice * Multiplier) | currency:''}}
                                                            </strike>
                                                            <div ng-show="p.Promotion === undefined">{{CurrencySymbol}} {{(p.RetailPrice * Multiplier) | currency:''}}</div>
                                                        </div>
                                                       
                                                    </div>
                                                    <div ng-show="(p.Promotion !== undefined && p.Promotion !== null) || p.Promotion.length > 0" 
                                                        class="label_discount_price"> 
                                                        {{CurrencySymbol}} {{(p.RetailPrice * ((100 - p.Promotion[0].DiscountPercent)/100)* Multiplier) | currency:''}}
                                                    </div>

                                                </div>
                                            </p>
                                            <p style="color:white;">
                                                <div class="row">
                                                <!--
                                                    <div class="col-sm-4">
                                                        {{'BODY.SECTION.PRODUCT.WEIGHT' | translate}}
                                                    </div>
                                                    
                                                    <div class="col-sm-8 text-right">
                                                        {{p.Weight | currency:''}} {{'BODY.SECTION.PRODUCT.WEIGHT_UOM' | translate}}
                                                    </div>
                                                    -->
                                                </div>
                                            </p>
                                            <p style="color:white;">
                                                <div class="row">
                                                    <div class="col-xs-2 col-sm-2 col-md-2">
                                                        {{'BODY.SECTION.PRODUCT.QTY' | translate}}
                                                    </div>
                                                    <div class="col-sm-5 col-sm-5 col-md-5">
                                                        <input type="number" class="form-control text-right" placeholder="0" ng-model="BuyQty">
                                                    </div>
                                                    <div class="col-sm-5 col-sm-5 col-md-5">
                                                        <label> {{p.Uom[0].UomNameTh}}</label>
                                                    </div>
                                                </div>
                                            </p>
                                            <p>
                                                <div class="col-md-12">
                                                    <a href="#" class="btn btn-success btn-block btn-product" ng-click="AddCart(p, BuyQty, $index)">
                                                    <span class="glyphicon glyphicon-shopping-cart"></span> 
                                                    {{'BODY.SECTION.PRODUCT.BUY' | translate}}</a>
                                                </div>
                                                <!--
                                                <div class="col-md-4 ">
                                                    <a class="btn btn-primary btn-product" data-toggle="modal" data-target="#DetailModal">
                                                    <span class="glyphicon glyphicon-exclamation-sign"></span> {{'BODY.SECTION.PRODUCT.DETAIL' | translate}}</a>
                                                </div>-->
                                                <div class="modal fade" id="DetailModal">
                                                    <div class="modal-dialog modal-lg">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                                </button>
                                                                <h4 class="modal-title">{{'HEAD.MODAL_CART.PRODUCT_CART' | translate}}</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="container">
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-sm-12 col-md-12 col-md-offset-0">
                                                                        
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center">
                            <uib-pagination boundary-links="true" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"  class="pagination" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>
                    </div>
                    <div class="row" id="ProductDataNotReady"  style="color:white">
                            <center><i class="fa fa-spinner fa-pulse fa-5x fa-fw margin-bottom"></i>
                                <span class="sr-only">Loading...</span></center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>