<div class="row contact-section" id="ProcessingPayment" >
    <div class="col-xs-12">
        <div class="col-md-12">
            <h3> Step 3</h3>
        <!--    <button class="btn btn-success btn-lg center-block" ng-click="ValidateFinish()">Finish!</button> -->
            <br><br>
            <div id="ProcessingPurchaseOrder" style="display: block">
                <center>
                    <i class="fa fa-refresh fa-spin fa-3x fa-fw margin-bottom"></i>
                    <span class="sr-only">Loading...</span>
                </center>
                <br>
                <center><h3>{{'BODY.SECTION.SHIPMENT.FINISH.PROCESSING' | translate}}</h3></center>
            </div>
            <div id="ProcessedPurchaseOrder" style="display: none" >
                <center><h4><i class="fa fa-flag-checkered fa-3x"></i></h4></center>
                <center>{{'BODY.SECTION.SHIPMENT.FINISH.THANK_MESSAGE' | translate}}</center>
            </div>
        </div>
    </div>
</div>